docs/archive/**/*
stat_output/
images/DONT_CHECK_IN/
data/deprecated
latex_files/
INSTALLED_DATA/
**/__pycache__/
src/reports
tests/log.txt
data/legacy
_site/
.sass-cache/
.jekyll-metadata
Gemfile.lock
*.iml
.idea/
*~
.DS_Store
site/static/images
data/wip
src/legacy
src/rangers_and_ruffians/OLD_GARBAGE