<div class="rnr-weapon" *ngIf="weapon">
	<div class="rnr-subsection-title" *ngIf="weapon.name !== null">
		{{weapon.name}}
	</div>
	<div>
		<span class=rnr-boldtext>
			{{ weapon.handednessLine }}
		</span>
	</div>
	<div *ngIf="weapon.range !== null">
		<span *ngFor="let item of weapon.range | keyvalue">
			{{ item.value }}ft {{ item.key.replace('_', ' ') }}
		</span>
	</div>
	<div>
		<span class="rnr-boldtext">
			Types
		</span>
		<ul>
			<li>
				<span class="rnr-boldtext">
					Common: 
				</span>
				<span>
					Deals {{weapon.tierOneDamage}} 
					<ng-container *ngIf="weapon.displayDamageType">
						{{weapon.damageType}} 
					</ng-container>
					damage. Commonly priced at {{weapon.tierOneValue}} gold.
				</span>
			</li>
			<li>
				<span class="rnr-boldtext">
					Mastercraft 1: 
				</span>
				<span>
					Deals {{weapon.tierTwoDamage}}
					<ng-container *ngIf="weapon.displayDamageType">
						{{weapon.damageType}} 
					</ng-container>
					damage. Commonly priced at {{weapon.tierTwoValue}} gold.
				</span>
			</li>
			<li>
				<span class="rnr-boldtext">
					Mastercraft 2: 
				</span>
				<span>
					Deals {{weapon.tierThreeDamage}} 
					<ng-container *ngIf="weapon.displayDamageType">
						{{weapon.damageType}} 
					</ng-container>
					damage. Commonly priced at {{weapon.tierThreeValue}} gold.
				</span>
			</li>
		</ul>
	</div>
	
	<div>
		<span class="rnr-boldtext">
			Abilities:
		</span>
		<ng-container *ngFor="let ability of weapon.abilities">
			<app-ability-renderer [ability]="ability"></app-ability-renderer>
		</ng-container>
	</div>
</div>