<app-topmatter></app-topmatter>
<!-- [hero]="selectedHero" -->

<main id="content" class="main-content" role="main">
    <h1>Rangers and Ruffians</h1>
    <i>Version 3.0.0 Release Candidate 1</i>


    <h2>Release Candidate</h2>
    This version of Rangers and Ruffians is a release candidate! That means it's almost ready for showtime. 
    The site will be updated frequently in the coming weeks with new rules and features as the documentation is
    completed.

    <h2> Check out the Release Candidate!</h2>
    <ol>
        <li>
            <a routerLink="/character">
                Choose your Background, Race, and Class
            </a>
        </li>
        <li>
            <a routerLink="/monsters">
                Study the Monsters
            </a>
        </li>
        <li>
            <a routerLink="/weapons">
                Choose your weapon!
            </a>
        </li>
    </ol>
</main>
