<app-topmatter></app-topmatter>

<main id="content" class="main-content" role="main">
    <h1>Rangers and Ruffians</h1>
    <i>Version 3.0.0: Tenth Anniversary Edition RC 1</i>
    <button class="install-pwa-button" (click)="installPWA()" *ngIf="deferredPrompt">Install App</button>

    <h2>10th Anniversary Edition: Release Candidate 1</h2>
    Ten years! This new edition of Rangers and Ruffians aims to bring things back to the basics and get us to a place where the game is easy and fun to play.
    The rule of the day is simplification, and that means removing as many sources of complication as possible while focusing on the things that make the game
    great.
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header >
            <mat-panel-title>
                Among other things, 10th Anniversary RC1 has the following changes:
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <ol>
                <li>
                    <span class="rnr-boldtext">
                        Simplified Combat
                    </span>
                    Roll to hit is removed, offhand actions return, and called shots make their debut. Changes to combat should make the game feel fast, tactical, and epic!
                </li>
                <li>
                    <span class="rnr-boldtext">
                        Simplified Character Options
                    </span>
                    False choice was creating design bloat, making the game harder to play and run. We've stripped the game back to ten races and eight classes, which are honed to their
                    core features. While removing options like skill trees decreases customization, it means that balance is easy and building a character should take minutes while 
                    still resulting in years of fun.
                </li>
                <li>
                    <span class="rnr-boldtext">
                        So much more!
                    </span>
                    Read the full rules document to see what else changed. From Death's Door Changes to Called Shots, less healing to simplified weapons, 
                    this edition gets back to that original core of Rangers and Ruffians!
                </li>
            </ol>
        </ng-template>
        </mat-expansion-panel>
      </mat-accordion>

    <h2> Links for Players</h2>
    <ol>
        <li>
            <a href="assets/pdfs/char_sheet_v3.pdf" download>Download Your Character Sheet</a>
        </li>
        <li>
            <a routerLink="/backgrounds">
                Choose your Background
            </a>
        </li>
        <li>
            <a routerLink="/races">
                Choose your Race
            </a>
        </li>
        <li>
            <a routerLink="/classes">
                Choose your Class
            </a>
        </li>
    </ol>

    <h2> Links for Everyone</h2>
        <ol>    
            <li>
                <a routerLink="/rulebook">
                    Read the Rules!
                </a>
                <!-- <a routerLink="/monsters">
                    Study the Monsters
                </a> -->
            </li>
        </ol>
<!--     
            <li>
                <a routerLink="/weapons">
                    Choose your weapon!
                </a>
            </li>
        </ol>

    <h2>Links for the Grand Poohbah</h2>
        <ol>
            <li>
                <a routerLink="/game-design">
                    Design your campaign!
                </a>
            </li>
        </ol> -->
</main>
