---
---



@import 'jekyll-theme-cayman';

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 { margin-top: 2rem; margin-bottom: 1rem; font-weight: normal; color: #000000fc; }
body {padding: 0; padding-top: env(safe-area-inset-top, 0vh); margin: 0;font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;font-size: 16px;line-height: 1.5;color: #43484a;}
.main-content blockquote {padding: 0 1rem;margin-left: 0;color: #000000d4;border-left: 0.3rem solid #dce6f0;}
.main-content { padding-top: 6vh; }
.main-content h5 {text-decoration: underline;}

// .project-name { margin-top: 0; margin-bottom: 2rem; font-family: 'Tangerine', serif; font-size:4rem" }
.project-name { margin-top: 0; margin-bottom: 0.1rem; font-family: 'Cardo', serif; font-weight: normal;}
@media screen and (min-width: 64em) { .project-name { font-size: 4rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .project-name { font-size: 2.25rem; } }
@media screen and (max-width: 42em) { .project-name { font-size: 1.5rem; } }


figcaption {}
@media screen and (min-width: 64em) { figcaption { font-size: 1rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) { figcaption { font-size: 0.75rem; } }
@media screen and (max-width: 42em) { figcaption { font-size: 0.5rem; } }

h1 { font-size: 2.5rem;}
h2 { font-size: 2rem; text-decoration: underline;}
h3 { font-size: 1.75rem; text-decoration: underline;}
h4 { font-size: 1.5rem; text-decoration: underline;}

.raceClassImage{ max-width:90vw; max-height:60vh; }
.skilltree { max-width:90vw; max-height:60vh; }
@media screen and (max-width: 42em) { .raceClassImage { max-width:100vw; max-height:80vh; } }

@media screen and (orientation: portrait)
{  
  .header-landscape{display:none;}
  .header-portrait{display:inline-block;}
}

@media screen and (orientation: landscape)
{  
  .header-landscape{display:inline-block;}
  .header-portrait{display:none;}
}


@import "variables";
@import "bootstrap/scss/bootstrap";
@import "bootstrap-select/sass/bootstrap-select";

button{
  background-color: #0080e9;
  color: white;
}


.blackBox {
  z-index: 2;
  background-color: black;
  width: 100%;
  top: 0;
  bottom: env(safe-area-inset-top, 0);
}

/* The navigation bar */

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  height: 50px;
  width: 100%; /* Full width */
  z-index: 1;
  top: 0;
  top: env(safe-area-inset-top, 0);
  font-size: 2.5vh;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.navbar-nav {
  flex-direction: row;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.project-tagline {
  opacity: 1;
}

.headerIcon {
  height: 1.5em;
  width: 1.5em;
}

*[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -60px; // Set the Appropriate Height
  height: 60px; // Set the Appropriate Height
  visibility: hidden; 
}

.printable-stat-section {
  display: none;
}

.display-stat-section {
  display: block;
}

.main-content hr {
  background-color: #dddddd;
}

.web-leveling {
  display: block;
}

.print-leveling {
  display: none;
}

@media print {
  @page {
    margin: 1in;
  }

  .printable-stat-section {
    display: block;
  }

  .display-stat-section {
    display: none;
  }

  .raceClassImage {
    display: none;
  }

  .web-leveling {
    display: none;
  }
  
  .print-leveling {
    display: block;
  }

  .attribution {
    display: none;
  }

  .rnr-ability {
    page-break-inside: avoid; /* Prevent splitting across pages */
  }

  /* Set width for elements with the class "skilltree" */
  .skilltree {
    width: calc(100% - 20px); /* Set the margin size as needed */
    margin: 10px; /* Set the margin size as needed */
  }

  .handbook-section {
    display: none;
  }

  button {
    display: none;
  }
}