<main id="content" class="main-content" role="main">
    <h1 class="rnr-page-header">Classes</h1>
    <app-table-of-contents></app-table-of-contents>
    <div id="classes">
        <div *ngFor="let group of classesByType | keyvalue: typeOrderCompare">
            <div class="rnr-section-title hidden-in-print">
                {{ group.key }} Classes
            </div>
            <ng-container *ngFor="let rclass of group.value">
                <app-class-renderer (rendered)="childRendered($event)" [rnrclass]="rclass"></app-class-renderer>
                <hr class="rnr-line">
            </ng-container> 
        </div>
    </div>
</main>