<div class="rnr-class" [class.printable-content]="isReadyToPrint" *ngIf="rnrclass" [id]="rnrclass.name.replace('/\s+/g', '-').toLowerCase() + '-class'" #myPrintableContent>
	<div class="rnr-subsection-title toc-section" [id]="rnrclass.name.replace('/\s+/g', '-').toLowerCase() + '-name'">
		{{ rnrclass.name }}
	</div>
	<button (click)="printContent()" class="print-button">Print {{rnrclass.name}}</button>
	<app-attributed-art-renderer [artName]="rnrclass.name"></app-attributed-art-renderer>

	<div *ngIf="rnrclass.handbook" class="handbook-section" [id]="rnrclass.name.replace('/\s+/g', '-').toLowerCase() + '-handbook'">
		<ng-container *ngFor="let section of rnrclass.handbook">
            <p *ngIf="section.display_title">
                <span class="rnr-sub-subsection-title">{{ section.title }}</span>
            </p>
            <p>
                {{ section.text }}
            </p>
        </ng-container>
	</div>
	<div *ngIf="rnrclass.rule_sections" class="printable handbook-section">
		<ng-container *ngFor="let section of rnrclass.rule_sections">
			<ng-container *ngIf="section==='ranger_companion_creature'">
				<app-ranger-companion-creature>></app-ranger-companion-creature>
			</ng-container>
		</ng-container>
	</div>
	<ng-container *ngIf="rnrclass.recommended_stats !== null">
        <span class="rnr-sub-subsection-title">
            Recommended Starting Stats
        </span>
		<div class="display-stat-section" [id]="rnrclass.name.replace('/\s+/g', '-').toLowerCase() + '-stats'">
			<ul>
				<li *ngFor="let statpair of rnrclass.displayReccomendedStats | keyvalue">
					<span class="rnr-boldtext">{{statpair.key| titlecase }}: </span><span>{{ statpair.value }} </span>
				</li>
			</ul>
		</div>
		<div class="printable-stat-section" id="printable-stats{{rnrclass.name.replace('/\s+/g', '-').toLowerCase()}}">
			<ng-container *ngFor="let statpair of rnrclass.displayReccomendedStats | keyvalue">
				<span class="rnr-boldtext">{{statpair.key| titlecase}}: </span><span>{{ statpair.value }} </span>
			</ng-container>
		</div>
	</ng-container>
	
	<div [id]="rnrclass.name.replace('/\s+/g', '-').toLowerCase() + '-leveling'">
		<span class="rnr-sub-subsection-title">
			Leveling Up
		</span>
		<div *ngIf="rnrclass.health_schedule !== null" class="health" [id]="rnrclass.name.replace('/\s+/g', '-').toLowerCase() + '-health'">
			<span>
				At level 1, {{rnrclass.name | lowercase}}s begin with:
			</span>
			<ul>
				<li>
					{{rnrclass.health_schedule.starting_health}} Maximum Health
				</li>
				<li>
					5 Action Points
				</li>
				<li>
					2 Luck
				</li>
				<li>
					30ft of Movement (6 squares)
				</li>
				<li *ngIf="rnrclass.is_casting_class">
					3 Tier 1 Spells
				</li>
				<li *ngIf="!rnrclass.is_casting_class">
					3 Abilities from their skill tree
				</li> 
			</ul>
			<span>
				Each time they level up, {{rnrclass.name | lowercase}}s:
			</span>
			<ul>
				<li>
					Gain a +{{rnrclass.health_schedule.standard_level_health_bonus}} bonus to their Maximum Health
				</li>
				<li>
					Learn 1 new {{ rnrclass.is_casting_class ? 'spell' : 'ability' }}
				</li>
			</ul> 				
			<span>
				When they reach gameplay tiers 2 and 3 (levels 6 and 11), {{rnrclass.name | lowercase}}s:
			</span>
			<ul>
				<li>
					Increase two stats of their choice by +1
				</li>
				<li *ngIf="rnrclass.health_schedule.standard_level_health_bonus !== rnrclass.health_schedule.tier_increase_health_bonus">
					Increase their maximum health by {{rnrclass.health_schedule.tier_increase_health_bonus}} instead of the usual {{rnrclass.health_schedule.standard_level_health_bonus}}
				</li>
				<li *ngIf="rnrclass.is_casting_class">
					Gain access to spells from their new gameplay tier
				</li>
			</ul> 
		</div>
	</div>
	
	<ng-container *ngIf="rnrclass.instantiated_skill_tree">
		<app-skill-tree-renderer *ngIf="rnrclass.instantiated_skill_tree.abilities.length != 0" [rnr_class_name]="rnrclass.name" ></app-skill-tree-renderer>
		<div class="ability-section" [id]="rnrclass.name.replace('/\s+/g', '-').toLowerCase() + '-abilities'">
			<span class="rnr-sub-subsection-title" *ngIf="rnrclass.instantiated_skill_tree.abilities.length != 0">
				Abilities:
			</span>
			<ng-container *ngFor="let ability of rnrclass.instantiated_skill_tree.abilities">
				<app-ability-renderer [ability]=ability></app-ability-renderer>
			</ng-container>
		</div>
	</ng-container>
	<ng-container *ngIf="rnrclass.instantiated_spells && rnrclass.instantiated_skill_tree.abilities.length == 0">
		<div class="spells-section" [id]="rnrclass.name.replace('/\s+/g', '-').toLowerCase() + '-spells'">
			<ng-container *ngFor="let chapters of rnrclass.instantiated_spells | keyvalue">
				<div class="spell-tier">
					<span class="spell-tier-title">{{chapters.key}} Spells</span>
					<ng-container *ngFor="let ability of chapters.value">
						<app-ability-renderer [ability]="ability"></app-ability-renderer>
					</ng-container>
				</div>
			</ng-container>
		</div>
	</ng-container>
</div>