body { 
    background:  url('/static/images/subtle_white_mini_waves.png') repeat 0 0;
}

/*CUSTON SCROLLBAR*/
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


@media (max-width:768px){
  .container {
    width: 100% !important;
    margin-left:0px !important; 
    margin-right:0px !important; 
    margin-top: :0px !important; 
    margin-bottom:0px !important; 
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}
