.new-print-region {
  height:1200px;
  width: 927px; /* Should be close to 3:2 which is close enough to 8.5 x 11*/
  margin: 0 auto;
  background: #fff;
  margin-top:30px !important;
  padding: 20px;
  font-family: 'Angkor';
}

/**********************************************************
* 2 SIDED SHEET COMPONENTS
/**********************************************************/

.front-top {
  border: 2px solid black;
  border-radius: 3px;
  padding: 10px;
}

.back-top {
  height: 17%;
  border: 2px solid black;
  border-radius: 3px;
  padding: 10px;
}

.back-bottom {
  height: 83%;
}

.back-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stat-topbar {
  padding-top:1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
}

.front-left-col {
  float: left;
  height: 99%;
}

.front-right-col {
  float: left;
  height: 99%;
}

.back-left-col {
  float: left;
  height: 99%;
}

.back-right-col {
  float: left;
  height: 99.6%;
  width: 39%;
}

.front-name-div {
  margin-right: 2%;
}

.front-name {
  margin-bottom: 0px;
  line-height: 1;
}

.attribute-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/*********************************
* Squares and Icons
**********************************/

.stat-square {
  width: 80px;
  height: 80px;
  float: left;/* could be display inline block */
  border: 1px solid black;
  border-radius: 3px;
  margin: 0.2rem;
  margin-top: 2px;
  text-align: center;
  text-decoration: underline;
  background-color: white;
}

.stat-square-content {
  line-height: 1;
  display: inline-block;
  text-decoration: underline;
}

.character-attribute-square {
  display: inline-block;
  width: 80px;
  height: 80px;
  float: right;
  border: 1px solid black;
  border-radius: 3px;
  margin: 0.2rem;
  margin-top: 2px;
  text-align: center;
  background-color: white;
}

.character-attribute-rectangle {
  display: inline-block;
  width: 120px;
  height: 80px;
  float: right;
  border: 1px solid black;
  border-radius: 3px;
  margin: 0.2rem;
  margin-top: 2px;
  text-align: center;
  background-color: white;
}

.character-attribute-name-container {
  line-height: 1;
}

.character-attribute-icon {
  height: 95%;
  transform: translateY(35%);
}

.details-col {
  padding-top: 3%;
}

.inner {
  height: 98%;
  width: 98%;
  margin:2%;
  margin-top: 2% !important;
  background-color: white;
  border-radius: 10px;
  float: left;
  border: 3px groove;
}

/*****************************************************
* Font Components
******************************************************/

.bold {
  font-weight: bold;
}

.dark {
  background-color: #e2e2e2;
}

.center-text {
  text-align: center;
}

.ability {
  margin-bottom: 1%;
  line-height: 1;
}

.title {
  font-family: 'Angkor';
  text-decoration: underline;
}

.right-line {
  border-right: 2px solid black;
}

/*****************************************************
* Size Components
******************************************************/

.tenth-width {
  width : 10%;
  float: left;
}

.sixth-width {
  width : 16.66%;
  float: left;
}

.quarter-width {
  width: 25%;
  float: left;
}

.third-width {
  width : 33.33%;
  float: left;
}

.forty-width {
  width: 40%;
  float: left;
}

.half-width {
  width : 50%;
  float: left;
}

.sixty-width {
  width: 60%;
  float: left;
}

.two-thirds-width {
  width : 66.66%;
  float: left;
}

.full-width {
  width: 100%;
  float: left;
}

.ten-height {
  height: 10%;
}

.fifteen-height {
  height: 15%;
}

.twenty-height {
  height: 20%;
}

.thirty-height {
  height: 30%;
}


.third-height {
  height: 33%;
}

.forty-height {
  height: 40%;
}

.half-height {
  height: 50%;
}

.sixty-height {
  height: 60%;
}

.seventy-height {
  height: 70%;
}

.eighty-height {
  height: 80%;
}

.eighty-one-height {
  height: 81%;
}

.ninety-height {
  height: 90%;
}

.full-height {
  height:100%;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
    .tiny-font {
      font-size: 5pt;
    }

    .small-font {
      font-size: 7pt;
    }

    .big-font {
      font-size: 14pt;
    }

    .new-print-region {
      height:800px;
      width: 618px; /* Should be close to 3:2 which is close enough to 9.5 x 11*/
      margin-top:30px !important;
      padding: 20px;
    }

    .stat-square {
      width: 54px;
      height: 54px;
    }

    .character-attribute-rectangle {
      width: 81px;
      height: 54px;
    }

    .stat-square-content {
      line-height: 0.5;
    }

    .character-attribute-square {
      width: 54px;
      height: 54px;
    }

    .character-attribute-name-container{
      line-height: 0.5;
    }

}


/* Large devices (laptops/desktops, 768px and up) */
@media only screen and (min-width: 768px) {
    .tiny-font {
      font-size: 8pt;
    }

    .small-font {
      font-size: 10pt;
    }

    .medium-font {
      font-size: 14pt;
    }

    .big-font {
      font-size: 18pt;
    }

    .new-print-region {
      height:1000px;
      width: 773px; /* Should be close to 3:2 which is close enough to 9.5 x 11*/
      margin-top:30px !important;
      padding: 20px;
    }

    .stat-square {
      width: 67px;
      height: 67px;
    }

    .character-attribute-rectangle {
      width: 100px;
      height: 67px;
    }

    .character-attribute-square {
      width: 67px;
      height: 67px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .tiny-font {
    font-size: 8pt;
  }

  .small-font {
    font-size: 10pt;
  }

  .medium-font {
    font-size: 14pt;
  }

  .big-font {
    font-size: 26pt;
  }

  .new-print-region {
      height:1200px;
      width: 927px; /* Should be close to 3:2 which is close enough to 9.5 x 11*/
      margin-top:30px !important;
      padding: 20px;
    }

    .stat-square {
      width: 80px;
      height: 80px;
    }

    .character-attribute-rectangle {
      width: 120px;
      height: 80px;
    }

    .character-attribute-square {
      width: 80px;
      height: 80px;
    }
}

/* Full HD (1080p) */
/*@media only screen and (min-width: 1800px) {
}*/

/* QHD  (2K) */
/*@media only screen and (min-width: 2400px) {
}*/

@media print {

    @page {
       size: 10.5in 13in;
    }

    .body{
        margin:0;
        padding: 0;
        background:  white;
        background-color: white;
    }

    .selection_area{
      display:none;
    }

    .new-print-region
    {
      break-inside: avoid;
      break-after: always;
      width: 100vw;
      height:100vh;
      margin: 0px;
      margin-top:0px !important;
      background: #fff;
    }

    .main-content {
      padding-top:0px !important;
    }

    .tiny-font {
      font-size: 8pt;
    }

    .small-font {
      font-size: 10pt;
    }

    .medium-font {
      font-size: 14pt;
    }

    .big-font {
      font-size: 24pt;
    }
}