<main id="content" class="main-content" role="main">
    <h1>Monsters</h1>

    <section class="example-section">
        <mat-form-field>
            <mat-label>Tiers Displayed</mat-label>
            <mat-select [(ngModel)]="chosenTier"  (ngModelChange)="applyFilter()">
                <mat-option *ngFor="let option of tierOptions" [value]="option">{{ option }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Special Types</mat-label>
            <mat-select [(ngModel)]="chosenSpecialTypes"  (ngModelChange)="applyFilter()">
                <mat-option *ngFor="let option of specialTypeOptions" [value]="option">{{ option }}</mat-option>
            </mat-select>
        </mat-form-field>

      </section>

    <!-- <h2> Backgrounds </h2>
    <ng-container *ngFor="let background of backgrounds">
        <app-background-renderer [background]="background"></app-background-renderer>
        <hr>
    </ng-container> -->
    <!-- <h2>Races</h2>
    <ng-container *ngFor="let race of races">
        <app-race-renderer [race]="race"></app-race-renderer>
        <hr>
    </ng-container> -->
    <div class="rnr-subsection" *ngFor="let item of selectedMonsters | keyvalue">
        <div class="rnr-section-title">
            {{item.key}}
        </div>
        <ng-container *ngFor="let monster of item.value">
            <app-monster-renderer [monster]="monster"></app-monster-renderer>
            <hr>
        </ng-container>
    </div>
    
</main>