{#  
    Requires:
      character_name: The name of the player character.
      figures: A set of figures for an image containing health, action points, armor, spell power, and an optional special image.
#}
{% import 'macros.html' as macros %}
<div class="new-print-region">
  <div class="front-top" id="front-top">
    <div class="front-name-div">
      <span class="front-name big-font" id="characterName"> {{ character_name if character_name else "Archibold the Wizard"}}</span><br/>
    </div>
    <div class="attribute-container" id="attribute-container">
      {{ macros.character_data_square("Health", tmp_icons['health'],true) }}
    {% for attribute_name, attribute_path in [
        ['Armor', tmp_icons['armor']],
        ['Action Points', tmp_icons['action_points']],
        ['Spell Power', tmp_icons['spell_power']],
        ['Special', tmp_icons['special']]
      ] %}
      {{macros.character_data_square(attribute_name, attribute_path)}}
    {% endfor %}
    </div>
  </div>
  <div class="front-bottom dark" id="front-bottom">
    <div class="stat-topbar">
      {% for stat in ["STR", "DEX", "INT", "INF", "PER", "CHA", "LUK", "HD" ] %}
        {{ macros.stat_square(stat) }}
      {% endfor %}
    </div>
    <div class="new-left-col two-thirds-width">
      <div class="advantage half-width">
        <div class="inner">
          <span class="title medium-font"> 
            Combat Advantages:
          </span>
        </div>
      </div>
      <div class="disadvantage half-width">
        <div class="inner">
          <span class="title medium-font"> 
            Combat Disadvantages:
          </span>
        </div>
      </div>
      <div class="combat-abilities">
        <div class="inner">
          <span class="title medium-font"> 
            Combat Abilities:
          </span>
          {% if "combat" in abilities %}
            {% for ability, ability_info in abilities["combat"] %}
              <p class="ability">
                <span class="small-font bold">{{ability}}: 
                  {% if ability_info["cost"] != None and ability_info["cost"] != 0 %}
                    (Cost {{ ability_info['cost'] }})
                  {% endif %}
                </span>
                <span class="small-font">
                  {{ability_info['brief']}}
                </span>
              </p>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="new-right-col third-width">
      <div class="equipped third-width">
        <div class="inner">
          <span class="title medium-font"> 
            Equipped Items:
          </span>
        </div>
      </div>
      <div class="inventory third-width">
        <div class="inner">
          <span class="title medium-font"> 
            Combat Inventory:
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="new-print-region">
  <div class="back-top" id="front-top">
    <div class="front-name-div">
      <span class="front-name big-font" id="characterName"> {{ character_name if character_name else "Archibold the Wizard"}}</span><br/>
    </div>
  </div>
  <div class="back-bottom dark">
    <div class="half-width">
      <div class="inner">
      </div>
    </div>
    <div class="half-width">
      <div class="inner">
      </div>
    </div>
  </div>


  What goes on the other side?
    General Abilities
    Advantages and Disadvantages.
    Inventory
    Notes
</div>

