{% import 'macros.html' as macros %}
<div class="new-print-region">
  <div class="front-top twenty-height full-width">
    <div class="full-width forty-height back-flex">
      <div class="front-name-div">
        <span class="front-name big-font" id="front-character-name"> {{ character_name }}</span><br/>
      </div>
      <div class="attribute-container" id="attribute-container">
        {{ macros.character_data_square("Health", tmp_icons['health'],"true") }}
        {{ macros.character_data_square("Action Points", tmp_icons['action_points'], "true")}}
        {% for attribute_name, attribute_path in [
            ['Armor', tmp_icons['armor']],
            ['Spell Power', tmp_icons['spell_power']],
            ['Level', tmp_icons['level']]
          ] %}
          {{macros.character_data_square(attribute_name, attribute_path)}}
        {% endfor %}
      </div>
    </div>
    <div class="full-width sixty-height">
      <div class="quarter-width details-col">
        {{ macros.character_info_column("Race", "Class", "Subclass") }}
      </div>
      <div class="quarter-width details-col">
        {{ macros.character_info_column("Age", "Gender", "Height") }}
      </div>
      <div class="quarter-width details-col">
        {{ macros.character_info_column("Hair", "Eyes", "Skin") }}
      </div>
      <div class="quarter-width details-col">
        {{ macros.character_info_column("Alignment", "Faith", "Other") }}
      </div>
    </div>
  </div>
  <div class="eighty-height full-width dark">
    <div class="front-right-col half-width">
      <div class="twenty-height full-width">
          <div class="stat-topbar full-width half-height">
            {% for stat in ["STR", "INT", "PER", "LUK" ] %}
              {{ macros.stat_square(stat) }}
            {% endfor %}
          </div>
          <div class="stat-topbar full-width half-height">
            {% for stat in ["DEX", "INF", "CHA", "HD" ] %}
              {{ macros.stat_square(stat) }}
            {% endfor %}
          </div>
      </div>
      <div class="eighty-one-height full-width">
        <div class="inner">
          <span class="title medium-font"> 
            Combat Abilities:
          </span>
        </div>
      </div>
    </div>
    <div class="front-left-col half-width">
      <div class="seventy-height full-width">
        <div class="inner">
          <span class="title medium-font"> 
            Abilities:
          </span>
        </div>
      </div>
      <div class="thirty-height full-width">
        <div class="inner">
          <div class="half-width full-height right-line">
            <span class="title medium-font"> 
              Advantages:
            </span>
          </div>
          <div class="half-width full-height">
            <span class="title medium-font"> 
              Disadvantages:
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>