<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    <link rel="apple-touch-icon" sizes="180x180" href="/new_site/icons/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/new_site/icons/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/new_site/icons/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/new_site/icons/favicon/safari-pinned-tab.svg" color="#000000">
    <link rel="shortcut icon" href="/new_site/icons/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="/new_site/icons/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/node_modules/popper.js/dist/umd/popper.min.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/node_modules/bootstrap-select/dist/js/bootstrap-select.min.js' | prepend: site.baseurl}}"></script>
    <script src="/new_site/js/rangers.js"></script>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

    {% if page.indexpage %}
      <script>

      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/service_worker.js')
        .catch(function(error) {
          console.log('TEST Service worker registration failed, error:', error);
        })
        .then(function(registration) {
          console.log('Registration successful, scope is:', registration.scope);
        })
        .catch(function(error) {
          console.log('Service worker registration failed, error:', error);
        });
      }

      window.addEventListener('beforeinstallprompt', event => {
          event.preventDefault();
          var button = document.querySelector('#pwaInstall');
          button.removeAttribute('hidden');
          button.addEventListener('click', () => {
            event.prompt();
            button.setAttribute('disabled', true);
          });
        });

      </script>
    {% endif %}
    <!-- end of service worker -->

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=default">

    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
<!--     <link rel="stylesheet" href="{{'/assets/main.css' | prepend: site.baseurl}}">
 -->  </head>
  <body>
    <!-- Handle Iphone X and other notched devices. -->
    <div class="blackBox"></div>



    <div class="navbar">
      <a href="javascript:goBack();"><img src="/new_site/icons/fast-backward-button.svg" class="headerIcon"></i></a>
      <a href="/index.html">Home</a>
      <!-- <a href="/new_site/pages/GENERATED/Rulebook.html">Rules</a> 
      <a href="/new_site/pages/GENERATED/Compendium_of_Character_Creation.html">Races/Classes</a>
      <a href="/new_site/pages/GENERATED/Tome_of_the_Ancients.html">Spells</a>  -->
    </div>

    {% assign skipheader   = page.skip_header | default: false %}
    {% if skipheader == false %}
    <header class="page-header" role="banner"   style="background-image: none; background-color: #171d1a; min-height:100vh; padding: 1rem; padding-top: env(safe-area-inset-top, 1);">
      <h1 class="project-name" >{{ page.title | default: "Rangers and Ruffians"}}</h1>
      <!-- {% if page.description %}
        <h2 class="page-title">{{page.title}}</h2>
      {% endif %} -->
      {% assign portrait_path   = page.portrait_banner_path    | default: page.landscape_banner_path    | default: false %}
      {% assign portrait_name   = page.portrait_banner_name    | default: page.landscape_banner_name    | default: false %}
      {% assign portrait_artist = page.portrait_banner_artist  | default: page.landscape_banner_artist  | default: false %}
      {% assign portrait_license= page.portrait_banner_license | default: page.landscape_banner_license | default: false %}
      {% assign portrait_link   = page.portrait_banner_link    | default: page.landscape_banner_link    | default: false %}
      {% assign portrait_artist_link  = page.portrait_banner_artist_link | default: page.landscape_banner_artist_link | default: false %}
      {% assign portrait_license_link = page.portrait_banner_license_link| default: page.landscape_banner_license_link| default: false %}

      
      {% assign landscape_path   = page.landscape_banner_path    | default: page.portrait_banner_path    | default: false %}
      {% assign landscape_name   = page.landscape_banner_name    | default: page.portrait_banner_name    | default: false %}
      {% assign landscape_artist = page.landscape_banner_artist  | default: page.portrait_banner_artist  | default: false %}
      {% assign landscape_license= page.landscape_banner_license | default: page.portrait_banner_license | default: false %}
      {% assign landscape_link   = page.landscape_banner_link    | default: page.portrait_banner_link    | default: false %}
      {% assign landscape_artist_link  = page.landscape_banner_artist_link | default: page.portrait_banner_artist_link | default: false %}
      {% assign landscape_license_link = page.landscape_banner_license_link| default: page.portrait_banner_license_link| default: false %}

      <div class="header-portrait">
      {% if portrait_path %}
        <figure style="max-height:71vh; margin:0; margin-bottom:1rem;">
          <img src="{{portrait_path}}" style="max-width: 100%; max-height:69vh"; alt="{{ page.title | default: site.title | default: site.github.repository_name }}" class="project-name"/>
          <figcaption>
            <a href="{{portrait_link}}">{{portrait_name}}</a> 
            by 
            <a href="{{portrait_artist_link}}">{{portrait_artist}}</a> 
            is licensed under 
            <a href="{{portrait_license_link}}">{{portrait_license}}</a>
          </figcaption>
        </figure>
      {% endif %}
      </div>

      <div class="header-landscape">
      {% if landscape_path %}
        <figure style="max-height:71vh; margin:0; margin-bottom:1rem;">
          <img src="{{landscape_path}}" style="max-width: 100%; max-height:69vh"; alt="{{ page.title | default: site.title | default: site.github.repository_name }}" class="project-name"/>
          <figcaption>
            <a href="{{landscape_link}}">{{landscape_name}}</a> 
            by 
            <a href="{{landscape_artist_link}}">{{landscape_artist}}</a> 
            is licensed under 
            <a href="{{landscape_license_link}}">{{landscape_license}}</a>
          </figcaption>
        </figure>
      {% endif %}
      </div>      
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>

      {% if site.github.is_project_page and page.show_download %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}

    </header>
    {% endif %}

    <main id="content" class="main-content" role="main">

      {% if page.indexpage %}
        <button hidden class="btn-primary" id="pwaInstall">Install Rangers and Ruffians</button>
      {% endif %}

      {{ content }}

      {% if  skipheader == false %}
      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
      {% endif %}
    </main>
  </body>
</html>