<main id="content" class="main-content" role="main">
    <h1>Character Creation</h1>
    <!-- <h2> Backgrounds </h2>
    <ng-container *ngFor="let background of backgrounds">
        <app-background-renderer [background]="background"></app-background-renderer>
        <hr>
    </ng-container> -->
    <!-- <h2>Races</h2>
    <ng-container *ngFor="let race of races">
        <app-race-renderer [race]="race"></app-race-renderer>
        <hr>
    </ng-container> -->

    <h2>Classes</h2>
    <ng-container *ngFor="let rclass of rnrclasses">
        <app-class-renderer [rnrclass]="rclass"></app-class-renderer>
        <hr>
    </ng-container>

    <app-class-renderer></app-class-renderer>
</main>