<main id="content" class="main-content" role="main">
    <app-table-of-contents></app-table-of-contents>

    <h1>Character Creation</h1>
    <div id="backgrounds">
        <h2> Backgrounds </h2>
        <ng-container *ngFor="let background of backgrounds">
            <app-background-renderer (rendered)="childRendered($event)" [background]="background"></app-background-renderer>
            <hr>
        </ng-container>
    </div>

    <div id="races">
        <h2>Races</h2>
        <ng-container *ngFor="let race of races">
            <app-race-renderer (rendered)="childRendered($event)"[race]="race"></app-race-renderer>
            <hr>
        </ng-container>
    </div>

    <div id="classes">
        <h2>Classes</h2>
        <ng-container *ngFor="let rclass of rnrclasses">
            <app-class-renderer (rendered)="childRendered($event)" [rnrclass]="rclass"></app-class-renderer>
            <hr>
        </ng-container> 
    </div>
</main>