<div class="printRegion">
  <div class="container-fluid h-100" style="padding-left:0px;padding-right: 0px;">
    <div class="row h-100" style="margin-bottom: 0px;">
      <div class="col-12">
        <div id="characterDetails" class="characterDetails">
          <div class="row topCharacter">
            <div class="col-5">
              <span class="characterName" id="characterName"> {{ name }}</span><br/>
            </div>
            <div class="col-7">
              <div id="iconDiv" class="iconDiv">
              {% for img, caption in icons %}
              <figure style="display: inline-block; margin: 0 0 0;">
                <img src="/site/icons/{{img}}" class="icon">
                <figcaption class="caption">{{caption}}</figcaption>
              </figure>
              {% endfor %}
              </div>
            </div>
          </div>
          <div class="row bottomCharacter">
            <div class="col-3">
              <p>
                {% if subrace and subrace != "" %}
                  <span class="subtitle">Race:</span>
                  <span class="normalText"> {{ subrace | replace('_',' ') | title }}</span>
                  <br/>
                {% else %}
                  <span class="subtitle">Race:</span><span class="normalText"> __________ </span><br/>
                {% endif %}
                {% if class and class != "" %}
                  <span class="subtitle">Class:</span>
                  <span class="normalText"> {{ class | replace('_',' ') | title }} </span>
                  <br/>
                {% else %}
                  <span class="subtitle">Class:</span>
                  <span class="normalText"> __________ </span>
                  <br/>
                {% endif %}  
                {% if subclass and sublclass != "" %}
                  <span class="subtitle">Subclass:</span><span class="normalText"> 
                  {{ subclass | replace('_',' ') | title }} </span>
                {% else %}
                  <span class="subtitle">Subclass:</span>
                  <span class="normalText"> __________ </span>
                  <br/>
                {% endif %}
              </p>
            </div>
            <div class=col-3>
              <p>
                <span class="subtitle">Age:</span><span class="normalText"> __________</span><br/>
                <span class="subtitle">Gender:</span><span class="normalText"> __________ </span><br/>
                <span class="subtitle">Height:</span><span class="normalText"> __________</span>
              </p>
            </div>
            <div class="col-3">
              <p>
                <span class="subtitle">Hair:</span><span class="normalText"> __________ </span><br/>
                <span class="subtitle">Skin:</span><span class="normalText"> __________ </span><br/>
                <span class="subtitle">Eyes:</span><span class="normalText"> __________ </span>
              </p>
            </div>
            <div class="col-3">
              <p>
                <span class="subtitle">HD:</span><span class="normalText"> __________ </span><br/>
                <span class="subtitle">Faith:</span><span class="normalText"> __________ </span><br/>
                <span class="subtitle">Level:</span><span class="normalText"> __________ </span><br/>
                <!-- {% if visualStats == True %}
                <span class="subtitle">Health Dice:</span><span class="normalText"> __________ </span><br/>
                {% endif %} -->
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        {% if visualStats %}
        <div class="boxDiv" style="margin-top:10px;">
          <p class="boxSubtitle">Stats:</p>
          {% for stat in ['STR', 'DEX', 'INT', 'INF', 'PER', 'CHA', 'LUK'] %}
          <div class="circleDiv">
            <div class="plusMinus">
              <p>
                <span class="plusMinus"> 
                  {{stat}}:
              {% if stat != 'LUK' %}
                 +&nbsp;&nbsp;-
              {% endif %}
                </span>
              </p>
            </div>
            <div style="float: right;">
              <div class="singleCircle">
                <img src="/site/icons/circle.svg" class="tinyicon">
              </div>
              <div class="singleCircle">
                <img src="/site/icons/circle.svg" class="tinyicon">
              </div>
              <div class="singleCircle">
                <img src="/site/icons/circle.svg" class="tinyicon">
              </div>
              <div class="singleCircle">
                <img src="/site/icons/circle-halved.svg" class="tinyicon">
              </div>
              <div class="singleCircle">
                <img src="/site/icons/circle-halved.svg" class="tinyicon">
              </div>
              <div class="singleCircle">
                <img src="/site/icons/circle-halved.svg" class="tinyicon">
              </div>
              <div class="singleCircle">
                <img src="/site/icons/circle-halved.svg" class="tinyicon">
              </div>
              <div class="singleCircle">
                &nbsp;&nbsp;________
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <div class=squareWrapper>
            <div class=square>
              <span class="squareContent">STR</span>
            </div>
            <div class=square>
              <span class="squareContent">INT</span>
            </div>
            <div class=square>
              <span class="squareContent">PER</span>
            </div>
            <div class=square>
              <span class="squareContent">LUK</span>
            </div>
            <br/>
            <div class=square>
              <span class="squareContent">DEX</span>
            </div>
            <div class=square>
              <span class="squareContent">INF</span>
            </div>
            <div class=square>
              <span class="squareContent">CHA</span>
            </div>
            <div class=square>
              <span class="squareContent">HD</span>
            </div>
          </div>
          {% endif %}
          <div id="combatAbilities" 
            {% if visualStats != True %}
              class="combatAbilitiesVisualStats">
            {% else %}
              class="combatAbilities">
            {% endif%}

            <p class="boxSubtitle">Combat Abilities:</p>
            <div id="combatAbilityList">
              {% if "combat" in abilities %}
                {% for ability, ability_info in abilities["combat"] %}
                  <p class="ability">
                    <span class="subtitle">{{ability}}: 
                      {% if ability_info["cost"] != None and ability_info["cost"] != 0 %}
                        (Cost {{ ability_info['cost'] }})
                      {% endif %}
                    </span>
                    <span class="normalText">
                      {{ability_info['brief']}}
                    </span>
                  </p>
                {% endfor %}
              {% endif %}
            </div>
          </div>
      </div>
      <div class="col-6">
        <div id="generalAbilities" class="generalAbilities">
          <p class="boxSubtitle">Abilities:</p>
          <div id="generalAbilityList">
            {% for ability, ability_info in abilities["general"] %}
              <p class="ability">
                <span class="normalText" style="font-weight: bolder;">{{ability}}: 
                  {% if ability_info["cost"] != None and ability_info["cost"] != 0 %}
                    (Cost {{ ability_info['cost'] }})
                  {% endif %}
                </span>
                <span class="normalText">
                  {{ability_info['brief']}}
                </span>
              </p>
            {% endfor %}
          </div>
        </div>
        <div class="splitBoxDiv" id="advantagesAndDisadvantages">
          <div class="row">
            <div class="col-6">
              <p class="boxSubtitle">Advantages:</p>
              <div id="advantages">
                {% if 'advantage' in abilities %}
                  {% for ability, ability_info in abilities["advantage"] %}
                    <p class="ability">
                      <span class="subtitle">{{ability}}: 
                      {% if ability_info["cost"] != None and ability_info["cost"] != 0 %}
                        (Cost {{ ability_info['cost'] }})
                      {% endif %}
                      </span>
                      <span class="normalText">
                        {{ability_info['brief']}}
                      </span>
                    </p>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
            <div class="col-6">
              <p class="boxSubtitle">Disadvantages:</p>
              <div id="disadvantages">
                {% if 'disadvantage' in abilities %}
                  {% for ability, ability_info in abilities["disadvantage"] %}
                    <p class="ability">
                      <span class="subtitle">{{ability}}: 
                      {% if ability_info["cost"] != None and ability_info["cost"] != 0 %}
                        (Cost {{ ability_info['cost'] }})
                      {% endif %}
                      </span>
                      <span class="normalText">
                        {{ability_info['brief']}}
                      </span>
                    </p>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    