{% import 'macros.html' as macros %}

<!doctype html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/css/diamonds.css">
      <link rel="stylesheet" href="/static/css/iterated_char_sheet.css">
      <link rel="stylesheet" href="/static/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
     <link href='https://fonts.googleapis.com/css?family=Angkor' rel='stylesheet'>
  </head>
  <body>
    <div class="logo">
      <div class="container" id ="logo" style="margin-left:0px;">
        <div class="row">
          <div class="col s12">
                 <a href="/" style="color:black; font-family: 'Cinzel Decorative', cursive;"> Rangers and Ruffians </a>
          </div>
        </div>
      </div>
    </div>
    <div class="printRegion">
      <div class="container-fluid h-100" style="padding-left:0px;padding-right: 0px;">
        <div class="row h-100">
          <div class="col-12">
            <div id="characterDetails" class="characterDetails">
              <div class="row" style="height:90px; margin-bottom: 0px;">
                <div class="col-5">
                  <span class="characterName"> {{ character["character_name"].replace('_', ' ').title() }}</span><br/>
                </div>
                <div class="col-7">
                  <div id="iconDiv" class="iconDiv">
                  {% for img, caption in icons %}
                  <figure style="display: inline-block; margin: 0 0 1rem;">
                    <img src="/static/images/icons/{{img}}" class="icon">
                    <figcaption class="caption">{{caption}}</figcaption>
                  </figure>
                  {% endfor %}
                  </div>
                </div>
              </div>
              <div class="row" style="margin-bottom: 0px;">
                <div class="col-3">
                  <p>
                    {% if character["subrace"] !=  None %}
                      <span class="subtitle">Race:</span><span class="normalText"> {{ character["subrace"].replace('_',' ').title() }}</span><br/>
                    {% else %}
                      <span class="subtitle">Race:</span><span class="normalText"> __________ </span><br/>
                    {% endif %}
                    {% if character["class"] !=  None %}
                      <span class="subtitle">Class:</span><span class="normalText"> {{ character["class"].replace('_',' ').title() }} </span><br/>
                    {% else %}
                      <span class="subtitle">Class:</span><span class="normalText"> __________ </span><br/>
                    {% endif %}  
                    {% if character["subclass"] !=  None %}
                      <span class="subtitle">Subclass:</span><span class="normalText"> {{ character["subclass"].replace('_',' ').title() }} </span>
                    {% else %}
                      <span class="subtitle">Subclass:</span><span class="normalText"> __________ </span><br/>
                    {% endif %}
                  </p>
                </div>
                <div class=col-3>
                  <p>
                    <span class="subtitle">Age:</span><span class="normalText"> __________</span><br/>
                    {% if character["subclass"] !=  None %}
                      <span class="subtitle">Gender:</span><span class="normalText"> {{ character["gender"].replace('_',' ').title() }} </span>
                    {% else %}
                      <span class="subtitle">Gender:</span><span class="normalText"> __________ </span><br/>
                    {% endif %}
                    <span class="subtitle">Height:</span><span class="normalText"> __________</span>
                  </p>
                </div>
                <div class="col-3">
                  <p>
                    <span class="subtitle">Hair:</span><span class="normalText"> __________ </span><br/>
                    <span class="subtitle">Skin:</span><span class="normalText"> __________ </span><br/>
                    <span class="subtitle">Eyes:</span><span class="normalText"> __________ </span>
                  </p>
                </div>
                <div class="col-3">
                  <p>
                    <span class="subtitle">Alignment:</span><span class="normalText"> __________ </span><br/>
                    <span class="subtitle">Faith:</span><span class="normalText"> __________ </span><br/>
                    <span class="subtitle">Level:</span><span class="normalText"> __________ </span><br/>
                    <!-- {% if visualStats == True %}
                    <span class="subtitle">Health Dice:</span><span class="normalText"> __________ </span><br/>
                    {% endif %} -->
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            {% if visualStats == True %}
            <div class="boxDiv" style="margin-top:10px;">
              <p class="boxSubtitle">Stats:</p>
              {% for stat in ['STR', 'DEX', 'INT', 'INF', 'PER', 'CHA', 'LUK'] %}
              <div class="circleDiv">
                <div class="statDiv">
                  <p class="statText">
                    <span class="statName"> 
                      {{stat}}:
                    </span>
                  {% if stat != 'LUK' %}
                    <span class="plusMinus">+&nbsp;&nbsp;-</span>
                  {% endif %}
                  </p>
                </div>
                <div class="singleCircle">
                  <img src="/static/images/icons/circle.svg" class="tinyicon">
                </div>
                <div class="singleCircle">
                  <img src="/static/images/icons/circle.svg" class="tinyicon">
                </div>
                <div class="singleCircle">
                  <img src="/static/images/icons/circle.svg" class="tinyicon">
                </div>
                <div class="singleCircle">
                  <img src="/static/images/icons/circle-halved.svg" class="tinyicon">
                </div>
                <div class="singleCircle">
                  <img src="/static/images/icons/circle-halved.svg" class="tinyicon">
                </div>
                <div class="singleCircle">
                  <img src="/static/images/icons/circle-halved.svg" class="tinyicon">
                </div>
                <div class="singleCircle">
                  <img src="/static/images/icons/circle-halved.svg" class="tinyicon">
                </div>
                <div class="singleCircle">
                &nbsp;&nbsp;________
                </div>
              </div>
              {% endfor %}
            </div>
            {% else %}
            <div class=squareWrapper>
                <div class=square>
                  <span class="squareContent">STR</span>
                </div>
                <div class=square>
                  <span class="squareContent">INT</span>
                </div>
                <div class=square>
                  <span class="squareContent">PER</span>
                </div>
                <div class=square>
                  <span class="squareContent">LUK</span>
                </div>
                <br/>
                <div class=square>
                  <span class="squareContent">DEX</span>
                </div>
                <div class=square>
                  <span class="squareContent">INF</span>
                </div>
                <div class=square>
                  <span class="squareContent">CHA</span>
                </div>
                <div class=square>
                  <span class="squareContent">HD</span>
                </div>
              </div>
              <!-- <div class="boxDiv" id="combatDiv">
                <div id="combatItemsHeading">
                  <p class="boxSubtitle">Combat Items:</p>
                </div>
                <div class=combatItems>
                  <div class="row">
                    <div class="col-6">
                      <p><span class="fancyNumber">1.</span><span class="underline">___________________</span></p>
                      <p><span class="fancyNumber">2.</span><span class="underline">___________________</span></p>
                    </div>
                    <div class="col-6">
                      <p><span class="fancyNumber">3.</span><span class="underline">_________________</span></p>
                      <p><span class="fancyNumber">4.</span><span class="underline">_________________</span></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <p class="boxSubtitle">Inventory:</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <p><span class="fancyNumber">1.</span><span class="underline">___________________</span></p>
                      <p><span class="fancyNumber">2.</span><span class="underline">___________________</span></p>
                      <p><span class="fancyNumber">3.</span><span class="underline">___________________</span></p>
                    </div>
                    <div class="col-6">
                      <p><span class="fancyNumber">5.</span><span class="underline">_________________</span></p>
                      <p><span class="fancyNumber">6.</span><span class="underline">_________________</span></p>
                      <p><span class="fancyNumber">7.</span><span class="underline">________________</span></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <p><span id="fancyStar">*.</span><span class="underline">_________________</span></p>
                    </div>
                    <div class="col-6">
                      <p><span id="fancyStar">*.</span><span class="underline">_________________</span></p>
                    </div>
                  </div>
                </div>
              </div> -->
              {% endif %}
              <div id="combatAbilities" 
                {% if visualStats == True %}
                  class="combatAbilitiesVisualStats">
                {% else %}
                  class="combatAbilities">
                {% endif%}

                <p class="boxSubtitle">Combat Abilities:</p>
                <div id="combatAbilityList">
                  {% if "combat" in character["abilities"] %}
                    {% for ability, ability_info in character["abilities"]["combat"].items() %}
                      <p class="ability">
                        <span class="subtitle">{{ability}}: 
                          {% if ability_info["cost"] != None %}
                            (Cost {{ ability_info['cost'] }})
                          {% endif %}
                        </span>
                        <span class="normalText">
                          {{ability_info['description']}}
                        </span>
                      </p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
          </div>
          <div class="col-6">
            <div id="generalAbilities" class="generalAbilities">
              <p class="boxSubtitle">Abilities:</p>
              <div id="generalAbilityList">
                {% for ability, ability_info in character["abilities"]["general"].items() %}
                  <p class="ability">
                    <span class="normalText" style="font-weight: bolder;">{{ability}}: 
                      {% if ability_info["cost"] != None %}
                        (Cost {{ ability_info['cost'] }})
                      {% endif %}
                    </span>
                    <span class="normalText">
                      {{ability_info['description']}}
                    </span>
                  </p>
                {% endfor %}
              </div>
            </div>
            <div class="splitBoxDiv" id="advantagesAndDisadvantages">
              <div class="row">
                <div class="col-6">
                  <p class="boxSubtitle">Advantages:</p>
                  <div id="advantages">
                    {% if 'advantage' in character['abilities'] %}
                      {% for ability, ability_info in character["abilities"]["advantage"].items() %}
                        <p class="ability">
                          <span class="subtitle">{{ability}}: 
                          {% if ability_info["cost"] != None %}
                            (Cost {{ ability_info['cost'] }})
                          {% endif %}
                          </span>
                          <span class="normalText">
                            {{ability_info['description']}}
                          </span>
                        </p>
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>
                <div class="col-6">
                  <p class="boxSubtitle">Disadvantages:</p>
                  <div id="disadvantages">
                    {% if 'disadvantage' in character['abilities'] %}
                      {% for ability, ability_info in character["abilities"]["disadvantage"].items() %}
                        <p class="ability">
                          <span class="subtitle">{{ability}}: 
                          {% if ability_info["cost"] != None %}
                            (Cost {{ ability_info['cost'] }})
                          {% endif %}
                          </span>
                          <span class="normalText">
                            {{ability_info['description']}}
                          </span>
                        </p>
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="modalStuff">
      <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Save Character</a>
    </div> -->
    <!-- Modal Structure -->
    <!-- <div id="modal1" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div> -->
    {% if spells != None %}
    <div class="printRegion">
      <div class="container-fluid h-100" style="padding-left:0px;padding-right: 0px;">
        <div class="row h-100">
          <div class="col-12">
            {{ macros.render_spellbook( character["character_name"], character["class"], spells ) }}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if class_data %}
    <div class="printRegion">
      <div class="container-fluid h-100" style="padding-left:0px;padding-right: 0px;">
        <div class="row h-100">
          <div class="col-12">
            {{ macros.render_level_up_page(character["class"].title(), class_data) }}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if character["subrace"] != None %}
    <div class="buttonRegion">
      <div class="container-fluid h-100" style="padding-left:0px;padding-right: 0px;">
        <div class="row">
          <div class="col-12">
            <hr>
            {% if character['origin'] != None and character['origin'] != '' %}
              <h2>Backstory</h2>
              <p>
                {{character['origin']}}
              </p>
              <hr>
              <br/>
              <br/>
            {% endif %}
            <h2>Stats</h2>
            <br/>
            <div id="computed_stats">
              <h4>Action Points:</h4>
              <p> 
              Your total number of action points is <strong>{{ 5 + character["effective_stats"]["Intelligence"] }}</strong>. This was computed by adding 5 to your intelligence, which is {{character["effective_stats"]["Intelligence"]}}.
              </p>
              <h4>Spell Power:</h4>
              <p> 
              Your total amount of spell power is <strong>{{ 12 + ( character["effective_stats"]["Inner_Fire"] ) }}</strong>. This was computed by adding 12 to your inner fire, which is {{character["effective_stats"]["Inner_Fire"]}}.
              </p>
              <h4> Health and Stat Points:</h4>
              {% if character['level'] > 0 %}
                <p>
                Your character is level <strong>{{ character['level'] }}</strong>. You may either spend 2 stat points per level, choose 1 skill per level, or do some combination of those things.
                </p>
                <p>
                Your starting health was the size of your "health dice" ({{character["health_dice"]}}) + 4. Each time you level up, you get to roll your health dice and a d4, and add it to your overall health.
                Your current health is <strong>{{ character["health_dice"] + 4}} + {{ character['level'] }}d{{ character["health_dice"] }} + {{ character['level'] }}d4</strong>.
                </p>
              {% else %}
                <p>
                Your starting health is the size of your "health dice" ({{character["health_dice"]}}) + 4. Each time you level up, you will get to roll your health dice and a d4, and add it to your  overall health.
                <br>
                Your current health is <strong>{{ character["health_dice"] + 4}}</strong>.
                </p>
              {% endif %}

            </div>
            <div id="base_stats">
              <h4>Your Character's Base Stats Were:</h4>
              <p>
                <strong>STR</strong>: {{ character["stats"]["Strength"] }}
                <br/>
                <strong>INT</strong>: {{ character["stats"]["Intelligence"] }}
                <br/>
                <strong>PER</strong>: {{ character["stats"]["Perception"] }}
                <br/>
                <strong>LUK</strong>: {{ character["stats"]["Luck"] }}
                <br/>
                <strong>DEX</strong>: {{ character["stats"]["Dexterity"] }}
                <br/>
                <strong>INF</strong>: {{ character["stats"]["Inner_Fire"] }}
                <br/>
                <strong>CHA</strong>: {{ character["stats"]["Charisma"] }}
                <br/>
                <strong>HD</strong>: d{{ character["health_dice"] }}
              </p>
            </div>
            <br/>
            <h4>Abilities</h4>
            <br/>
            {% if "choice" in character["abilities"] %}
              {% if character["abilities"]["choice"] | length %}
                <h5>Please make the following choices:</h5>
                <ol>
                {% for ability, ability_info in character["abilities"]["choice"].items() %}
                  <li>
                    <strong>
                      {{ability}}:
                      {% if ability_info["cost"] != None %}
                        (Cost {{ ability_info['cost'] }})
                      {% endif %}
                    </strong>
                    {{ability_info['description']}}
                  </li>
                {% endfor %}
                </ol>
                <br/>
              {% endif %}
            {% endif %}
            
            {% if "starting_item" in character["abilities"] %}
              {% if character["abilities"]["starting_item"] |length %}
                <h5>Please add the following starting items to your inventory:</h5>
                <ol>
                {% for ability, ability_info in character["abilities"]["starting_item"].items() %}
                  <li>
                    <strong>
                      {{ability}}: 
                      {% if ability_info["cost"] != None %}
                        (Cost {{ ability_info['cost'] }})
                      {% endif %}
                    </strong>
                    {{ability_info['description']}}
                  </li>
                {% endfor %}
                </ol>
                <br/>
              {% endif %}
            {% endif %}

            {% if "spellbook" in character["abilities"] %}
              {% if character["abilities"]["spellbook"] |length %}
                <h5>Please note that you have access to the following spellbooks:</h5>
                <ol>
                {% for ability, ability_info in character["abilities"]["spellbook"].items() %}
                  <li>
                    <strong>{{ability}}: </strong>{{ability['description']}}</li>
                {% endfor %}
                </ol>
                <br/>
              {% endif %}
            {% endif %}

            {% if "action" in character["abilities"] %}
              {% if character["abilities"]["action"] |length %}
                <h5>Please note that your character can make the following actions during combat:</h5>
                <ol>
                  <li><strong>Action: </strong>You may take an action on each round of combat. Among other things, this action may include attacking, using an item, or performing a feat of strength/dexterity.</li>
                  <li><strong>Offhand Action: </strong>Each round of combat, you may take an offhand action. An offhand action is defined as a quick action which takes very little time. This includes simple things such as using some items (e.g. drinking a potion) or opening an unblocked door. It does not include attacking or manipulating complex objects.</li>
                  <li><strong>Movement: </strong>Each turn of combat, you may move 15 feet (3 squares).
                {% for ability, ability_info in character["abilities"]["action"].items() %}
                  <li><strong>{{ability}}: </strong>{{ability_info['description']}}</li>
                {% endfor %}
                </ol>
                <br/>
              {% endif %}
            {% endif %}

            {% if "rule" in character["abilities"] %}
              {% if character["abilities"]["rule"] |length %}
                <h5>Please note that the following rules affect your character:</h5>
                <ol>
                {% for ability, ability_info in character["abilities"]["rule"].items() %}
                  <li><strong>{{ability}}: </strong>{{ability_info['description']}}</li>
                {% endfor %}
                </ol>
                <br/>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div> 
    {% endif %}  
    <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/js/materialize.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.modal').modal();
      });
    </script>
  </body>
</html>



<!-- Alegreya SC ; Alice -->

<!-- Autour One (Spellbook titles?) Balthazar (spells) -->

<!-- Dawning of a New Day (notetaking font) -->