<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/css/materialize.min.css">
      <link rel="stylesheet" href="/static/css/rangers.css">
      <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet"> 
   </head>
   <body>
      <div class="container">
         <div class="row">
            <div class="col s12">
               <h2 style="font-family: 'Cinzel Decorative', cursive;"> <a href="/" style="color:black"> Rangers and Ruffians </a> </h2>
            </div>
         </div>

         {% for three_entities in data | batch(3) %}
            <div class="row">
               {% for rnr_entity in three_entities %}
                  <div class="col s12">
                     <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light valign-wrapper" style="height:450px">
                           {% if rnr_entity['rights'] != None %}
                              <img class="activator" src = {{rnr_entity["path_to_image"] }}>
                           {%endif%}
                      </div>
                        <div class="card-content">
                           <h6>
                           <a href="{{next_page}}{{forwarding_param}}{{next_param}}={{rnr_entity["name"]}}"> 
                           Play As 
                              {% if rnr_entity["name"][0].lower() in ['a','e','i','o','u']%}
                                 an
                              {% else %}
                                 a 
                              {% endif %}                       
                            {{rnr_entity["name"].replace('_',' ').title()}}
                           </a>
                           </h6>
                        </div>
                        <div class="card-reveal grey lighten-5">
                           <span class = "card-title grey-text text-darken-4">
                              {{rnr_entity["name"].replace('_',' ').title()}}
                           </span>

                           <div class = "card-tabs">
                              <div class = "row">
                                 <div class = "col s12">
                                    <ul class="tabs" style="width:105%">
                                       {%if rnr_entity['description'] != None and rnr_entity['description'] != ''%}
                                       <li class = "tab">
                                          <a href="#{{rnr_entity['name'].lower()}}_overview"> Overview </a>
                                       </li>
                                       {%endif%}
                                       {%if rnr_entity['abilities'] != None %}
                                       <li class="tab">
                                          <a href="#{{rnr_entity['name'].lower()}}_abilities"> Abilities </a>
                                       </li>
                                       {%endif%}
                                       {%if rnr_entity['stats'] != None %}
                                       <li class="tab">
                                          <a href="#{{rnr_entity['name'].lower()}}_stats"> Stats </a>
                                       </li>
                                       {%endif%}
                                       {%if rnr_entity['rights'] != None and rnr_entity['rights'] != ''%}
                                       <li class="tab">
                                          <a href="#{{rnr_entity['name'].lower()}}_art"> Art Info </a>
                                       </li>
                                       {%endif%}
                                    </ul>                                
                                 </div>
                              </div>
                              <div id="{{rnr_entity['name'].lower()}}_overview" class = "col s12" style = "font-family: 'Angkor'">
                                 {% if 'quote' in rnr_entity and rnr_entity['quote'] != ''%}
                                    <blockquote class="blockquote text-center" style="border-left: none;">
                                      <p style="font-size: 1.0rem;">{{rnr_entity['quote']}}</p>
                                      <footer class="blockquote-footer">{{rnr_entity['quote_author']}}</footer>
                                    </blockquote>
                                    <hr>
                                 {% endif %}
                                 {%if rnr_entity['description'] != None %}
                                 <p> {{rnr_entity["description"]}} </p>
                                 {%endif%}
                                 {% if display_class %}
                                    <br/>
                                    <a href="level_up?chosen_class={{rnr_entity['name']}}">View Level Up Sheet</a>
                                 {% endif %}
                              </div>
                              <div id="{{rnr_entity['name'].lower()}}_art" class = "col s12" style = "font-family: 'Angkor'">
                                 {% if rnr_entity['rights'] != None %}
                                    <p>
                                       Art: <a href="{{ rnr_entity['rights']['url'] }}"> {{ rnr_entity['rights']['title'] }}</a> by {{ rnr_entity['rights']['artist'] }}.
                                            Used under <a href="{{ rnr_entity['rights']['license_url'] }}">{{ rnr_entity['rights']['license'] }} </a> If you like it, please
                                            check out the <a href="{{ rnr_entity['rights']['url'] }}"> {{ rnr_entity['rights']['artist'] }} deviantart </a> and support them!
                                    </p>
                                 {% endif %}
                              </div>
                              <div id="{{rnr_entity['name'].lower()}}_abilities" class = "col s12" style = "font-family: 'Angkor'">
                                 {% if rnr_entity["abilities"] != None %}
                                 <p> 
                                    <ol style="list-style-type: upper-roman;">
                                    {% for key in ('combat', 'general', 'starting_item', 'choice', 'advantage', 'spellbook','rule','action') if key in rnr_entity["abilities"]%}
                                       {% for ability in rnr_entity["abilities"][key]%}
                                          <li> <b> {{ability[0]}}: </b> {{ability[1]}} </li>
                                       {% endfor %}
                                    {% endfor %}
                                    </ol>
                                 </p>
                                 {% endif %}
                                 {% if display_class %}
                                    <a href="level_up?chosen_class={{rnr_entity['name']}}">View Level Up Sheet</a>
                                 {% endif %}
                              </div>
                              <div id="{{rnr_entity['name'].lower()}}_stats" class = "col s12" style = "font-family: 'Angkor'">
                                 {%if rnr_entity['stats'] != None%}
                                 <table style="width:100%">
                                    <tr>
                                       <th>Stat</th>
                                       <th>Value</th> 
                                       {% if prev_stats != None %}
                                       <th>Prev</th>
                                       <th>Total</th>
                                       {% endif %}
                                    </tr>
                                    {% for stat, val in rnr_entity["stats"].items() %}
                                    <tr>
                                       <td>{{stat}}</td>
                                       <td>{{val}}</td> 
                                       {% if prev_stats != None %}
                                       <td>{{prev_stats[stat]}}</td>
                                       <td>{{val + prev_stats[stat]}}</td>
                                       {% endif %}
                                    </tr>
                                    {% endfor %}
                                 </table>
                                 {% if display_class %}
                                    <a href="level_up?chosen_class={{rnr_entity['name']}}">View Level Up Sheet</a>
                                 {% endif %}
                                 {%endif%}
                              </div>
                           </div>
                        </div>                  
                     </div>
                  </div>
               {% endfor %}
            </div>
         {% endfor %}
      </div>
      <script src="/static/js/jquery-3.3.1.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      <script src="/static/js/materialize.min.js"></script>
      <script src="/static/js/rangers.js"></script>
   </body>
</html>

