<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/css/character_sheet.css">
      <link href='https://fonts.googleapis.com/css?family=Alice' rel='stylesheet'>
      <style>
        body {
            font-family: 'Angkor';
        }
      </style>
   </head>
   <body>
      <div class="container">
        <div class="row">
          <h1>Rangers and Ruffians Player's Handbook Rev 2.0</h1>
          <div id="introduction">
            <h3>Introduction</h3>
            <b>What is Rangers and Ruffians?</b>
            <p>
              Rangers and Ruffians is a tabletop game created with ease of access in mind. 
              It is designed to be played in a fantasy setting, and benefits greatly from
              a group of imaginative, engaged players. Rangers and Ruffians is a game
              of imagination, and you will get as much out of it as you put in. 
              This handbook details the standard set of rules for the game. It is laid out
              in such a way that each section builds upon the last.
            </p>
            <br>
            <b>What do I need to play?</b>
            <p>
              To play, you will need:
              <ol>
                <li>This guide.</li>
                <li>At least one set of polyhedral dice (the nerdy ones).</li>
                <li>At least two players.</li>
                <li>Paper and Pencils.</li>
              </ol>
              Optionally, you may also use:
              <ol>
                <li>A set of polyhedral for each player.</li>
                <li>Grid paper and miniatures/tokens for use in combat (optional).</li>
              </ol>
            </p>
            <br>
            <b>Players</b>
            <p>
              <!-- Hyperlink to player and poohbah handbook -->
              There are two types of players in Rangers and Ruffians, the <i>player</i> and the <i>Grand Poohbah</i>
              (who other games refer to as the Dungeon or Game Master). While playing, the Poohbah takes on the role
              of storyteller, while the players dive into the world he or she has created for them. This guide is
              split into two major sections, the <b>Player's Handbook</b> and the <b>Poohbah's Handbook</b>.
              The Player's Handbook details the rules and mechanics of the game, while the Poohbah's Handbook goes into 
              additional detail and gives suggestions for how they should be carried out.
              Players need read only the Player's Handbook, while Poohbah's should read both sections.
            </p>
          </div>
          <div id="PlayerHandbook">
            <h3>The Player's Handbook</h3>
            <p>
              While making Rangers and Ruffians we strove to craft rules that are simple to understand and easy to
              follow, so that you can get playing quickly and without much hassle. While some aspects of the game
              are deeper than others, 90% of the time, you will only need the basic rules in this section.
            </p>
            <br>
            <h5>Gameplay Example</h5>
            <p>
              We begin the Player's Handbook with an actual example of an encounter that happened while playing 
              Rangers and Ruffians. We will use this example as a reference moving forward as we examine the
              different rules that applied.
            </p>
            <p>
              This encounter was made up of 6 players and a Poohbah. The players were as follows, though
              it is not necessary for you to remember them.
            </p>
            <ol>
              <li>Gillthunder, the Human Knight, Leader of the Party</li>
              <li>Orcensheild, Orc Archer, Party Troublemaker</li>
              <li>Bilgolf the Purple, Halfling Sorcerer, Party Mage</li>
              <li>Vasha, the Catterwol Rogue, Party thief<li>
              <li>Harley, the Elf Paladin, Party Healer</li>
            </ol>
            <p>
              In this encounter, the party had just arrived at Tremlin, the city that they had been journeying
              to over past few sessions. Inside, Xavier, the villain of the campaign, had set up base, subjugating
              the citizens of the city. Even at a distance, the party could see that Tremlin was occupied, with hostile
              soldiers inspecting everyone who entered.
            </p>
            <p>
              Knowing that they would have to pass through this checkpoint, the party quickly disposed of any 
              contraband that they were carrying, including an amount of human flesh Orcensheild had been snacking
              on. 
            </p>
            <div id="your_character">
              <h5>Your Character</h5>

              <div id=character_intro>
                 # Building a Character
          Building a character is your first step towards entering the world of Rangers and Ruffians! To build a character, start by looking through the list of available races and classes. Ask yourself what sort of character you want to be; do you want to be a sneaky thief? A cunning bard? A noble knight? Perhaps a roguish gunslinger? The choice is yours!
              </div>

              <div id="stats">
                In Rangers and Ruffians, every living (or undead!) entity has statistics which help determine what it is capable of. As a player, you too will have stats that affect not only how you fare in combat, but also how you in battle, but also how you interact with the world. For a Mage, intelligence will be paramount, for a Bard, charisma is just as important. Players who want to sneak rather than fight will want to focus on dexterity. Below, we will enumerate each of the stats, and how they function in Rangers and Ruffians.
                <br>
                **Strength:** Strength can be defined as raw power of the body. You enter a dungeon, and sees a friend trapped in a cell. You desperately want to get them out, so you decide to bend the bars. In this scenario, you would want very high strength. In combat, strength directly affects the amount of damage you do with strength based weapons, as you can add your strength to any damage you do with them. (see the weapons section below for more detail).
                
                **Dexterity:** Dexterity can be defined as mobility, nimbleness, and ability with the body. You are chasing a fleeing thief across the rooftops of a city. You come up to a gap, and have to jump! In this scenario, you would want higher than average dexterity. In a combat scenario, dexterity directly affects the amount of damage you do with dexterity based weapons, as you can add your dexterity to any damage you do with them. (see the weapons section for more details).

                **Vitality:** Vitality determines how much health you will have in Rangers and Ruffians. Health is treated as a resource, which can be depleted by taking damage and restored by resting, drinking potions or through some other means. In Rangers and Ruffians, all player characters begin with one hundred health plus ten times their dexterity modifier. This means that, if you have +2 vitality, you will have 120 health (for more details, see the Health, Rest, and Potions, and Healing and Death and Dying sections).

                **Intelligence:** Intelligence can be described as raw aptitude with the mind, and has special significance to magic users. In Rangers and Ruffians, spell points are treated as a resource, and are used to cast spells. All magic users start out with five magic points plus their intelligence level. (For more details see the Magic section).

                **Inner Fire:** Inner fire can be defined as mental fortitude or resolve. An enemy spellcaster is trying to break into your mind to steal secrets. In this scenario, you would want high inner fire to repel their attack. In a combat scenario, Inner Fire directly affects the amount of damage you do with magic, as you can add it to the damage or healing you deal with any spell. (see the magic section for more details).

                **Charisma:** Charisma determines how charming your character can be. You speak with the local innkeeper and have a feeling that he's keeping something from you. You don't think that he's a dangerous person, but rather that someone or *something* is stopping him. In this scenario, you would want high charisma, so that you can convince him to help you despite the risk.

                **Perception:** Perception determines how likely it is your character will notice things going on in the world around them. You are riding through the forest at night. Little do you know, a trio of goblins lie in ambush. In this scenario, you would want high perception.

                **Luck:** When all else fails, there's always luck! Luck is a rarely used stat, which can be invoked by either the Poohbah or the player when no other stat seems to fit.
              </div>
              <div id="abilities_and_spells">
                ### General Abilities
          Your character will have special abilities as a result of their background, which can aid you in your travels. Separate from magic or combat abilities, general abilities allow you to consistently perform a feat is uncommon in others. For example, a character might have the "throw anything" ability, which allows them to throw anything up to five times their weight without a strength check.

              </div>
              <div id="starting_items">
              </div>
              <div id="player_tier">
              </div>
              <div id="player_race">
               
### Race
          To begin building your character, you must first know what culture they come from. A character's race represents the people that they are a part of and their inborn abilities. From Halflings to Orcs, each race has its own base stats, which will influence how they interact with the world. All races also have inborn abilities, which help them in the trials and battles that await them on their adventures!   
        
              </div>
              <div id="player_class">
                ### Class
          Once you have chosen your race, it is time to choose their background. A character's class can be viewed as its profession, and affects its stats and abilities even more than its race. Your choice of class will greatly affect how
                
              </div>
              <div id="health">
              </div>
              <div id="rolling_stats">
              </div>
            </div>

            <div id="magic">
              ### Magic
          As discussed in the intelligence section, any magic user begins their adventure with spell points equal to their intelligence stat plus five. There are six levels of spells in Rangers and Ruffians, starting at level zero and ending at level five. The level of a spell corresponds both to how difficult it is to learn, and also to how much it costs to use. At the beginning of their journey, a magic user will get to choose a few spells from their spellbooks to know. The rest, they must learn on their journey.

          #### Spell Books
          There are a number of spellbooks (see spells.md), which contain all magic known to the world of Rangers and Ruffians. All spellcasters except for the necromancer can learn spells from the novice handbook, which contains many vital and widely applicable spells. Most other mages can also learn magic from an addendum specific to them, which contains class specific spells.

          #### Starting Spells
          Apart from the necromancer, all mages can choose 4 spells from level zero, 2 spells from level one, and 1 spell from level two to begin their journey with. All spellcasters know the spell "drain," which allows them to siphon spell points from enemies.

          #### Regaining Spell Points
          You can regain spell points by casting drain, using some items, and by resting. When resting, a quick rest restores 2 spell points, sleeping restores 5, and sleeping in a bed restores all used spell points.

          #### Necromancers
          Necromancy functions differently than other types of magic, in that it does not cost spell points. Rather, necromancy costs souls, which are harvested from fresh bodies. A necromancer begins knowing all spells in the necromancer's handbook, and with 2d4 souls to begin the game with.

            </div>

            <div id="advantage_and_disadvantage">
              ### Advantage and Disadvantage
          Some characters have backgrounds (see the class and race section for more details) which cause them to be specifically good or bad at performing certain actions or at performing actions under certain conditions. In these scenarios, the character is said to have advantage or disadvantage on a check. When a character has advantage on a check, they roll two dice for the check, and take the higher. When they have disadvantage, they roll two dice and take the lower.

          As an example, imagine that your character's background says that they have advantage when sneaking in the rain. This means that, if your Poohbah asks you to perform a stealth check in the rain, you can roll two dice instead of one and take the higher.
            </div>

            <div id="abilities">
            </div>

            <div id="Checks and Saves">
               ### Checks
              Now that you understand the basics of stats, its time to discuss how they apply in the world of the game. When you attempt an interesting action in Rangers and Ruffians, the Poohbah may see fit to have you perform a "check" to see whether or not you manage it. To perform this check, you roll a twenty sided dice (d20), add the relevant stat (called a modifier), and the Poohbah will determine if your roll is high enough (for details about suggested roll difficulties, see the Poohbah's handbook).

              At first, this may seem complicated, so let's give an example. You are currently investigating a string of murders in a small city. You've tracked the killer back to their apartments, and, after waiting for them to leave, you decide to sneak in. Unfortunately, you find that the door is locked! Because of this, you decide to pick it, and the Poohbah calls for a dexterity check (because dexterity is the most relevant stat). You roll a 3 on your twenty sided dice, and then add 2, because that is your dexterity score. Unfortunately, the Poohbah tells you that that isn't high enough, and you can't pick the lock. That's fine, though, failing can be just as fun as succeeding. Because you can't pick the lock, you decide to break down the door. This time, you roll a 14, and add your 1 strength for a total of 15. It works! There was a little more sound, and a little more evidence, but you're in!

              Checks like the one above are common in the world of Rangers and Ruffians, and help make the game more dynamic; things can't _always_ go your way, or the game wouldn't be as fun. This also makes it more fun when the group of people you're playing with, your party, creates characters with different skillsets. Checks and stats help make it so that every character can approach the game differently.

               ### Critical Rolls
              A critical success occurs when you role the highest possible value on a dice. Out of combat, this often means that that you will perform exceptionally well in a task. For example, your vault off of a building might turn into a stunning double backflip. A critical failure occurs when you roll the lowest possible value on a dice. This often comes with negative repercussions. For example, your attempt to sneak through a hallway might turn into you knocking over a vase and alerting the guards. A critical hit is when a critical success or failure occurs in combat, and is discussed in a later section.    
            </div>

            <div id="Combat">
              <div id="initiative_and_combat_order">
                ### Initiative
          Initiative is a special sort of check, performed at the beginning of combat. Initiative is modified by dexterity, and determines the order in which players take action in combat. For example, imagine that you and a friend are about to fight a minotaur. When combat begins, each of you and the minotaur roll a twenty sided die. After adding dexterity, you have a ten, your friend has a twelve, and the minotaur has a three. This means that, when combat begins, first your friend gets to act, then you, then the minotaur. Initiative is rolled only once at the start of every battle.

          ### Physical Combat
          Combat in Rangers and Ruffians is turn based. Each participant gets to move and take one action per round, unless otherwise specified by a combat or weapon ability. Movement can be used to reposition yourself on the battlefield, approaching or moving away from an enemy. An action can be spent casting a spell, attacking an enemy, or using an item. A turn can be deferred to go later in the initiative order. Speaking, drawing a weapon, and other small actions can be counted as "free actions" by the Poohbah rather than counted against you.

          ### Critical Hits
          A critical hit occurs when a player rolls the highest possible value for an eligible weapon. When this occurs, the player may roll the dice a second time and add that to the damage total.

          ### Weapons
          When an minotaur is bearing down on you in the far reaches of the Underworld, your trusty sword (or spear, or pike, or bow, or flail, or sniper rifle) will be your best friend. Weapons come in two flavors, dexterity and strength. Strength weapons tend to be sturdy and large, where as dexterity weapons are more precise. The weapon you use will largely be determined by which stat you are strongest with. Weapons can also come with special abilities. This is important, as you do not "level up," or gain experience in Rangers and Ruffians. This makes the game much simpler, and means that it is the loot that you find that makes you stronger.

              </div>
              <div id="actions_and_offhand_actions">
              </div>
              <div id="damage_and_health">
              </div>
              <div id="combat_abilities">
                ### Combat Abilities
          As you enter the world of Rangers and Ruffians, you will find that you have a variety of abilities, some of which will be useful in combat. Most combat abilities come with some form of time limit, which it is up to you to keep track of. For many, this specifies that they can be used once every three turns. It is up to you to decide when it is the best time to use your abilities.
              </div>
              <div id="deaths_door_and_dying">
                 #### Death and Dying
          Sometimes, things don't go your way. Death is not the end of your journey, and it doesn't have to ruin your Rangers and Ruffians experience. First, let's set down some rules on how and when death happens.

          ##### Death's Door
          If your player's health hits zero, you enter a state called death's door. Once you have entered deaths door, your chances of survival are slim. If in combat, every time your turn comes up in the order, roll a d10. If You roll a 1-5, you die. If you are hurt while on death's door, you die. Otherwise, you survive another round. In order to come out of death's door, you must regain at least 1 health. You cannot act or feed yourself while on death's door.
              </div>
              <div id="resurrection">
                <p>
                  Resurrection is by no means a sure thing in the world of Rangers and Ruffians.
                  If you should happen to die, it is up to your party

                  ##### Reversible Death
          Sometimes, death _really_ isn't the end. This depends heavily on the world that your Poohbah has created, and whether or not certain resources are available. If your party is carrying a rare item, the _green lizard in a jar,_ it is possible to resurrect a character who has died within the past twenty four hours.

          ##### Irreversible Death
          Sometimes, however, death is here to stay. As we previously mentioned, that doesn't have to be the end of your fun! Loosing a character can be hard and emotional, but there is more fun to be had with a brand new character! Maybe a relative of your old character bent on avenging them! Or maybe that halfling barbarian you've been joking about! Or maybe you could roll up a random character! The point is, while it can be sad to loose a character, it is definitely not the end, and certainly not something to be angry about. Instead, treat it as an opportunity to interface with the world in a whole new way!
                </p>
              </div>
            </div>
            <div id=healing>
              ### Health, Rest, and Healing
          As described in the vitality section, characters begin with 100 health plus or minus their vitality level. Health lost in combat can be regained by resting, using items, or receiving healing magic.

          #### Rest
          There are three types of rest in Rangers and Ruffians: Quick Rest, Sleep, and Sleep in a bed. A quick rest takes one hour, and returns 4d4 health to the player. A quick rest can only occur once every six hours. Sleep takes at least 6 hours, returns 4d8 health, and can be done once every twelve hours. Sleeping in a bed functions the same as sleep, but returns 6d8 health.
            </div>
          </div>
        </div>
      </div>
      <script src="/static/js/jquery-3.3.1.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      <script src="/static/js/materialize.min.js"></script>
      <script src="/static/js/rangers.js"></script>
   </body>
</html>