<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/rangers.css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="card-panel white">
            <h1 style="font-family: 'Cinzel Decorative', cursive;"> Rangers and Ruffians</h1>
            <hr>
            <div>
              <h3>About</h3>
              <p>
                Rangers and Ruffians is a free to play tabletop roleplaying game. Rangers and Ruffians was designed from 
                the ground up to be easy to pick up, with a simple, approachable ruleset.
              </p>
              <h3>Why Rangers and Ruffians?</h3>
              <ul>
               <li>
                <b>Good for Beginners</b>
                <p>
                Rangers and Ruffians is a great introduction to the world of tabletop gaming. With a simple to understand
                set of rules and easily scalable difficulty, R&R was designed with new players in mind. To this end, R&R 
                boasts simple but scalable core mechanics, while removing the complicated bloat that makes other tabletop
                games daunting for beginners.
                </p>
              </li>
              <li>
                <b>Cheap to Start</b>
                <p>
                All core rules necessary to play Rangers and Ruffians are housed on this site. This keeps the cost of 
                entry low, so that you can start playing almost immediately. To play, you will need:
                  <ol>
                    <li>A set of polyhedral dice.</li>
                    <li>A few friends.</li>
                    <li>A few notebooks.</li>
                    <li>A positive attitude!</li>
                  </ol>
                </p>
              </li>
              <li>
                <b>Constant Updates</b>
                <p>
                  Rangers and Ruffians is a passion project, which is constantly receiving new content including new
                  classes, races, rules, and tuning.
                </p>
              </li>
            </div>
            <hr>
            <div>
              <h3>Core Rulebook</h3>
              <p>This section will be added very soon!</p>
            </div>
            <hr>
            <div>
              <h3>Character Creation</h3>
              <p>
                Creating a proper character is a vital part of any good tabletop gaming experience.
                While you are developing your character, be sure to think about who they are as an individual,
                so that you can better play as them when the game begins. You don't need to write some 
                elaborate backstory (though that can be very fun), but at the very least you should think about:
                <ul>
                  <li>Where did the character come from? What happened to them in the past?</li>
                  <li>Where is the character going/what are their goals and aspirations?</li>
                  <li>What are a few of the character's quirks/what makes them fun for the party to interact with?</li>
                </ul>
                We provide two tools to help you create your character. Who your character is as a person, however, 
                is entirely up to you!
              </p>
              <p><a class="btn btn-primary" href="creation" role="button">Create a Custom Character</a></p>
              <p><a class="btn btn-primary" href="random" role="button">Create a Random Character</a></p>
              <p><a class="btn btn-primary" href="spells?chosen_class=all" role="button">Select Spells</a></p>
            </div>
            <hr>
            <div>
              <h3>Contact Us</h3>
              <p>
                Please 
                <a href="mailto:RangersAndRuffians@gmail.com?Subject=Rangers%20And%20Ruffians">contact us</a>
                with any questions, comments, or concerns. We are more than happy to help with any questions or debates
                regarding rules, and would love your feedback and suggestions!
              </p>
            </div>
            <hr>
            <div>
              <a href="/legal">Art Information</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/materialize.min.js"></script>
    <script src="/static/js/rangers.js"></script>
  </body>
</html>