<div class="printRegion">
  <div class="level_up_sheet_header">
    <span class="characterName" id="levelUpSheetCharacterName">{{name | title }}'s Level Up Sheet</span><br/>
    <div class="top_info">
      When you reach an even level, add two stat points to a stat of your choice. On odd levels, add 1.
    </div>
  </div>

  <div class="level_up_sheet_levels">
    {% for level in range(0,100) %}
      {% set level_str = ["level_", level] | join('') %}
      {% if level_str in levels %}
        <div class="level">
          <p class="boxSubtitle">Level {{level}}</p>
          {% if 'abilities' in levels[level_str] %}
          <ul style="list-style-type: none; padding-left: 2rem">
            {% for ability_type, ability_set in levels[level_str]["abilities"] %}
              <li> 
                <span class="subtitle">{{ability_type | title }} Abilities</span>
                <ul>
              {% for ability_name, ability_info in ability_set %}
                <li> 
                  <span class="subtitle"> {{ability_name | replace('_',' ') | title()}}: 
                    {% if ability_info["cost"] != None and ability_info["cost"] != 0 %}
                      (Cost {{ ability_info['cost'] }})
                    {% endif %}
                  </span> 
                  <span class="normalText">
                  {{ability_info['verbose']}} 
                  </span>
                </li>
              {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
