{% macro stat_square(stat) %}
  <div class="stat-square" id="{{stat}}">
    <div style="height:60%; width:60%;">
      <span class="stat-square-content small-font">{{stat}}</span>
    </div>
  </div>
{% endmacro %}

{% macro stat_square_with_subsquare(stat) %}
  <div class="stat-square" id="{{stat}}">
    <div style="height:60%; width:60%;">
      <span class="stat-square-content small-font">{{stat}}</span>
    </div>
    <div style="height:40%; width:40%; border-left: 1px solid black; border-top: 1px solid black; float: right;"></div>
  </div>
{% endmacro %}

{% macro character_data_square(name, img_path, rectangle="false") %}
  {% set type_class = "rectangle" if rectangle == "true" else "square" %}
  <div class="character-attribute-{{type_class}}">
    <div class="character-attribute-name-container half-height full-width">
      <span class="title small-font">{{name}}</span>
    </div>
    <div class="half-height">
      <img src="/site/icons/{{img_path}}" class="character-attribute-icon">
    </div>
  </div>
{% endmacro %}

{% macro format_ability(ability, ability_info) %}
<p class="ability">
  <span class="small-font bold">{{ability}}:
    {% if ability_info["cost"] != None and ability_info["cost"] != 0 %}
      (Cost {{ ability_info['cost'] }})
    {% endif %}
  </span>
  <span class="small-font">
    {{ability_info['brief']}}
  </span>
</p>
{% endmacro %}

{% macro character_info_column(first, second, third) %}
  <div class="third-height">
    <span class="medium-font">
      {{first}}: _________
    </span>
  </div>
  <div class="third-height">
    <span class="medium-font">
      {{second}}: _________
    </span>
  </div>
  <div class="third-height">
    <span class="medium-font">
      {{third}}: _________
    </span>
  </div>
{% endmacro %}
