{% macro render_spellbook(character_name, rnr_class, spells) -%}
  {% if character_name != None %}
    <span class="characterName"> {{ character_name.replace('_', ' ').title() }}'s Spellbook</span><br>
    <br/>
  {% else %}
    <br/>
    <br/>
  {% endif %}
  {% for tier in spells.keys()|sort()%}
    <h4>{{tier.replace('_',' ').title()}}</h4>
    <ul>
    {% for spell in spells[tier].keys()|sort() %}
      <li><b>{{spell.replace('_',' ').title()}}: 
      {% if character_name == None %}
        (Difficulty: {{ spells[tier][spell]["charisma_cost"] }})</b>
      {% else %}
        {%- if rnr_class.lower() == "sorcerer" %}
          (Difficulty: {{ spells[tier][spell]["charisma_cost"] }})
        {% else %}
          (Cost: {{ spells[tier][spell]["cost"] }})
        {% endif -%}
      {% endif %}
      </b>
      {{spells[tier][spell]['description']}}</li>
    {% endfor %}
    </ul>
  {% endfor %}
{%- endmacro %}

{% macro render_level_up_page(class_name, data) %}
  <div class="container-fluid h-100" style="padding-left:0px;padding-right: 0px;">
    <div class="row">
      <div class="col-12">
        {% if class_name != None %}
        <h2>{{class_name}} Level Up Sheet</h2>
        {% endif %}
        {% for level in range(0,100) if 'level_{0}'.format(level) in data['levels'] %}
          <div id={{"level_"+level|string}}>
            Level {{level}}
            {% if 'abilities' in data['levels']['level_'+level|string] %}
              <ul>
              {% for ability_type, ability_set in data['levels']['level_'+level|string]['abilities'].items() %}
                {% for ability_name, ability_info in ability_set.items() %}
                  <li> 
                    <b> {{ability_name.replace('_',' ').title()}}: 
                      {% if ability_info["cost"] != None %}
                        (Cost {{ ability_info['cost'] }})
                      {% endif %}
                    </b> 
                    {{ability_info['description']}} 
                  </li>
                {% endfor %}
              {% endfor %}
              </ul>
            {% endif %}
            {% for key in data['levels']['level_'+level|string].keys() %}
              {% if 'subclass' in key %}
                <b>{{key.split('_')[1].title()}} Abilities</b>
                <ul>
                  {% for ability_type, ability_set in data['levels']['level_'+level|string][key].items() %}
                    {% for ability_name, ability_info in ability_set.items() %}
                      <li> 
                        <b> {{ability_name.replace('_',' ').title()}}: 
                          {% if ability_info["cost"] != None %}
                            (Cost {{ ability_info['cost'] }})
                          {% endif %}
                        </b> 
                        {{ability_info["description"]}} 
                      </li>
                    {% endfor %}
                  {% endfor %}
                </ul> 
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{%- endmacro %}