<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/rangers.css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col s12">
           <h2 style="font-family: 'Cinzel Decorative', cursive;"> <a href="/" style="color:black"> Rangers and Ruffians </a> </h2>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="card-panel white">
            <div class="card-content">
              <form action="random" method="GET">
                
                <p>What tier characters would you like to generate?</p>
                <fieldset class="form-group left-align">
                  <label>
                    <input name="tier" value="0" type="radio">
                    <span>Tier 0</span>
                  </label>
                  <br/>
                  <label>
                    <input name="tier" value="1" type="radio" checked>
                    <span>Tier 1</span>
                  </label>
                </fieldset>

                Which options would you like to disclude?
                <fieldset class="form-group">
                  <p><b>Gender:</b></p>
                  <div class="form-check">
                    <label class="checkbox">
                      <input type="checkbox" class="filled-in" checked="checked" name="allowed_genders" value="male"> <span>Male</span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="checkbox">
                      <input type="checkbox" class="filled-in" checked="checked" name="allowed_genders" value="female"> <span>Female</span>
                    </label>
                  </div>
                </fieldset>
                <br/>
                <fieldset class="form-group">
                  <p><b>Flaws:</b></p>
                  <div class="form-check">
                    <label class="checkbox">
                      <input type="checkbox" class="filled-in" checked="checked" name="allowed_flaws" value="flawed"> <span>Flawed Characters</span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="checkbox">
                      <input type="checkbox" class="filled-in" name="allowed_flaws" value="flawless"> <span>Flawless Characters</span>
                    </label>
                  </div>
                </fieldset>
                <br/>
                <fieldset class="form-group">
                  <p><b>Races:</b></p>
                  {% for allowed_class in rnr_classes %}
                  <div class="form-check">
                    <label class="checkbox-inline">
                      <input type="checkbox" class="filled-in" checked="checked" name="allowed_classes" value={{allowed_class}}> <span>{{allowed_class.title()}}</span>
                    </label>
                  </div>
                  {% endfor %}
                </fieldset>
                <br/>
                <fieldset class="form-group">
                  <p><b>Classes:</b></p>
                  {% for rnr_race in rnr_races %}
                  <div class="form-check">
                    <label class="checkbox-inline">
                      <input type="checkbox" class="filled-in" checked="checked" name="allowed_races" value={{rnr_race}}> <span>{{rnr_race.title()}}</span>
                    </label>
                  </div>
                  {% endfor %}
                </fieldset>
                <input type="submit" /> 
              </form>
            </div>
          </div> 
        </div>     
      </div>
    </div>
    <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/materialize.min.js"></script>
    <script src="/static/js/rangers.js"></script>
  </body>
</html>