<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/css/character_sheet.css">
      <link href='https://fonts.googleapis.com/css?family=Alice' rel='stylesheet'>
      <style>
        body {
            font-family: 'Angkor';
        }
      </style>
   </head>
   <body>
      <div class="container" id = printable>
        <div class="row">
          <div class="col-12">
            <div class="character_name">{{character["name"]}}</div>
          </div>
        </div>
        <div class="tinyspacerdiv"></div>
        {% if character["origin"] != "" %}
          <div class="col-12">
            <p>{{character["origin"]}}</p>
          </div>
          <div class="tinyspacerdiv"></div>
        {% endif %}

        <div class="row">
          <div class="col-3" style="width=20.333">
            HP:  ______ / {{character["health"]}}
          </div>
          <div class="col 2 align-self-start">
            Gold: ______
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            {% if magic_class == True %}
              {% if tier == 0 %}
                MP: ______ / {{3 + (character["stats"]["Intelligence"])}} + ______
              {% endif %}
              {% if tier == 1 %}
                MP: ______ / {{5 + (character["stats"]["Intelligence"])}} + ______
              {% endif %}

            {% endif %}
          </div>
        </div>

        <div class="spacerdiv"></div>        

        <div class="row">
          <div class="col-2">
            <div class="minor_title"> Vit: {{character["stats"]["Vitality"]}} + ______ </div>
          </div>
          <div class="col-2">
            <div class="minor_title"> Str: {{character["stats"]["Strength"]}} + ______ </div>
          </div>
          <div class="col-2">
            <div class="minor_title"> Dex: {{character["stats"]["Dexterity"]}} + ______ </div>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="minor_title"> Int: {{character["stats"]["Intelligence"]}} + ______ </div>
          </div>
          <div class="col-2">
            <div class="minor_title"> Inf: {{character["stats"]["Inner_Fire"]}} + ______ </div>
          </div>
          <div class="col-2">
            <div class="minor_title"> Chr: {{character["stats"]["Charisma"]}} + ______ </div>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <div class="minor_title"> Per: {{character["stats"]["Perception"]}} + ______ </div>
          </div>
          <div class="col-2">
            <div class="minor_title"> Lck: {{character["stats"]["Luck"]}} + ______ </div>
          </div>
          <div class="col-2">
          </div>
        </div>

        <div class="spacerdiv"></div>        

       <div id="abilities">
         <p> 
            {% for key in ('combat', 'advantage', 'starting_item', 'choice','general') if key in character["abilities"]%}
               <div class="major_title">{{key.replace('_',' ').title()}}</div>
               <ol>
               {% for ability in character["abilities"][key]%}
                  <li> <b class="minor_title"> {{ability[0]}}: </b> {{ability[1]}} </li>
               {% endfor %}
               </ol>
            {% endfor %}
         </p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <hr>
            <p><a class="btn btn-primary text-white" onClick="printdiv('printable');" role="button">Print Your Character Sheet</a></p>
            {% if magic_class == True %}
            <p><a class="btn btn-primary text-white" href="spells?chosen_class={{character['class']}}&chosen_name={{chosen_name}}" role="button">Choose Your Spells</a></p>
            {% endif %}
          </div>
        </div>
      </div>
      <script src="/static/js/jquery-3.3.1.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      <script src="/static/js/materialize.min.js"></script>
      <script src="/static/js/rangers.js"></script>
   </body>
</html>



<!-- Alegreya SC ; Alice -->

<!-- Autour One (Spellbook titles?) Balthazar (spells) -->

<!-- Dawning of a New Day (notetaking font) -->