<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/rangers.css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col s12">
           <h2 style="font-family: 'Cinzel Decorative', cursive;"> <a href="/" style="color:black"> Rangers and Ruffians </a> </h2>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="card-panel white">
            <div class="card-content">
              <form action="random" method="GET">
                
<!--                 <h5>What Tier Characters Would You Like to Generate?</h5>
                <fieldset class="form-group left-align">
                  <label>
                    <input name="tier" value="new_character" type="radio" checked>
                    <span>New Character</span>
                  </label>
                  <br/>
                  <label>
                    <input name="tier" value="heroic_character" type="radio">
                    <span>Heroic Character</span>
                  </label>
                  <br/>
                  <label>
                    <input name="tier" value="legendary_character" type="radio">
                    <span>Legendary Character</span>
                  </label>
                </fieldset>
                <hr> -->
                <!-- <h5>Do You Want Randomly Rolled Stats?</h5>
                <fieldset class="form-group left-align">
                  <label>
                    <input name="roll_stats" value="1" type="radio">
                    <span>Yes</span>
                  </label>
                  <br/>
                  <label>
                    <input name="roll_stats" value="0" type="radio" checked>
                    <span>No</span>
                  </label>
                </fieldset>
                <hr> -->
                <h5>Would You Like Quirky Characters?</h5>
                <fieldset class="form-group">
                  <div class="form-check">
                    <label class="checkbox">
                      <input type="radio" name="allowed_flaws" value="flawless"> <span>More Serious Characters</span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="checkbox">
                      <input type="radio" checked="checked" name="allowed_flaws" value="flawed"> <span>Quirky Characters</span>
                    </label>
                  </div>
                </fieldset>
                <hr>
                <h5>Which Genders Would You Like?</h5>
                <fieldset class="form-group">
                  <div class="form-check">
                    <label class="checkbox">
                      <input type="checkbox" class="filled-in" checked="checked" name="allowed_genders" value="male"> <span>Male</span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="checkbox">
                      <input type="checkbox" class="filled-in" checked="checked" name="allowed_genders" value="female"> <span>Female</span>
                    </label>
                  </div>
                </fieldset>
                <hr>
                <h5>Which Races Would You Like?</h5>
                <fieldset class="form-group">
                  {% for allowed_race in rnr_races %}
                  <div class="form-check">
                    <label class="checkbox-inline">
                      <input type="checkbox" class="filled-in" checked="checked" name="allowed_races" value={{allowed_race}}> <span>{{allowed_race.title()}}</span>
                    </label>
                  </div>
                  {% endfor %}
                </fieldset>
                <hr>
                <h5>Which Classes Would You Like?</h5>
                <fieldset class="form-group">
                  {% for rnr_class in rnr_classes %}
                  <div class="form-check">
                    <label class="checkbox-inline">
                      <input type="checkbox" class="filled-in" checked="checked" name="allowed_classes" value={{rnr_class}}> <span>{{rnr_class.title()}}</span>
                    </label>
                  </div>
                  {% endfor %}
                </fieldset>
                <input type="submit" /> 
              </form>
            </div>
          </div> 
        </div>     
      </div>
    </div>
    <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/materialize.min.js"></script>
    <script src="/static/js/rangers.js"></script>
  </body>
</html>