{% import 'macros.html' as macros %}

<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/css/iterated_char_sheet.css">
      <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
     <link href='https://fonts.googleapis.com/css?family=Angkor' rel='stylesheet'>
   </head>
   <body>
      <div class="printRegion">
        <div class="container-fluid h-100" style="padding-left:0px;padding-right: 0px;">
          <div class="row h-100">
            <div class="col-12">
              {{ macros.render_spellbook( name, rnr_class, spellbook ) }}
            </div>
          </div>
        </div>
      </div>
   </body>
</html>



