<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/rangers.css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col s12">
               <h2 style="font-family: 'Cinzel Decorative', cursive;"> <a href="/" style="color:black"> Rangers and Ruffians </a> </h2>
        </div>
      </div>
      <div class="row">
        <div class="card-panel white center-align">
          <div class="card-heading">
            <h4>
              What Is Your Character's Name?
            </h4>
          </div>
          <div class="card-content">
            <form action="creation" method="GET" id="name_form">
              <input type="text" name="name" placeholder={{random_name}} value={{random_name}}>
              <input type="hidden" name="gender" value={{gender}} /> 
              <input type="hidden" name="race" value={{race}} /> 
              <input type="hidden" name="class" value={{rnr_class}} /> 
              <input type="hidden" name="tier" value={{tier}} /> 

              <select name="level" form="name_form">
                <option value="" disabled selected> What Level Is Your Character?</option>
                <option value="0">Level 0</option>
                <option value="1">Level 1</option>
                <option value="2">Level 2</option>
                <option value="3">Level 3</option>
                <option value="4">Level 4</option>
                <option value="5">Level 5</option>
                <option value="6">Level 6</option>
                <option value="7">Level 7</option>
                <option value="8">Level 8</option>
                <option value="9">Level 9</option>
                <option value="10">Level 10</option>
              </select>
             <!--  <br/>
              <h4>Do You Want Randomly Rolled Stats?</h4>
              <fieldset class="form-group left-align">
                <label>
                  <input name="roll_stats" value="1" type="radio">
                  <span>Yes</span>
                </label>
                <br/>
                <label>
                  <input name="roll_stats" value="0" type="radio" checked>
                  <span>No</span>
                </label>
              </fieldset>
              <br/> -->
              <input type="submit" /> 
            </form>
          </div>
        </div>      
      </div>
    </div>
    <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/materialize.min.js"></script>
    <script src="/static/js/rangers.js"></script>
  </body>
</html>