<div class="rnr-subsection">
	<div class="rnr-sub-subsection-title">
		<span>
			Taking a Companion Creature
		</span>
	</div>
	<div class="rnr-subsection-content">
		<p class="rnr-body-paragraph">
			When you take the 
			<span class="rnr-boldtext"> 
				Companion Creature
			</span>
			ability, you may choose an animal companion to aid you in your travels. Select a tier appropriate creature from 
			the list of known monsters, or work with your Poohbah to develop a new one. Creatures that are available
			as companions are marked with the word "companion" after their type. For the remainder of your journey, 
			you will form a bond with this creature and it will serve at your side both in combat and while adventuring.
		</p>
	</div>
	<div class="rnr-ability-title">
		<span>
			Changing Gameplay Tiers
		</span>
	</div>
	<div class="rnr-subsection-content">
		<p class="rnr-body-paragraph">
			When you change gameplay tiers, your companion grows stronger. Daggerfin Fries become Daggerfin. 
			Dire Bears become Ursa. As your companion grows alongside you, it will become more dangerous
			and more helpful to you both in combat and out.
		</p>
	</div>
	<div class="rnr-ability-title">
		<span>
			Fighting Alongside a Companion
		</span>
	</div>
	<div class="rnr-subsection-content">
		<p class="rnr-body-paragraph">
			When in combat, your companion moves on the same initiative as you, and its
			turn occurs at the same time as yours. Any spell power saves which could result in one of you
			shifting in initiative order are made by you and affect you both. When your companion creature
			reaches one quarter health, it will become panicked. Roll against the panicked table to determine
			the outcome. The panicked condition ends once your companion is healed or you have spent a full
			turn calming it down.
		</p>
	</div>
	<div class="rnr-ability-title">
		<span>
			Panicked Table
		</span>
	</div>
	<div class="rnr-subsection-content">
		<table class="panicked-table">
			<tr>
				<td class="rnr-boldtext panicked-table-data">1.</td>
				<td>
					<span class="rnr-boldtext">
						Escape.
					</span>
					The creature runs as far as it can away from combat.</td>
			</tr>
			<tr>
				<td class="rnr-boldtext panicked-table-data">2.</td>
				<td>
					<span class="rnr-boldtext">
						Rampage.
					</span>
					The creature moves as far as it can towards the nearest combatant and attacks them.
				</td>
			</tr>
			<tr>
				<td class="rnr-boldtext panicked-table-data">3.</td>
				<td>
					<span class="rnr-boldtext">
						Lock up.
					</span>
					The creature locks up, and loses its turn.
				</td>
			</tr>
			<tr>
				<td class="rnr-boldtext panicked-table-data">4.</td>
				<td> 
					<span class="rnr-boldtext">
						Hide.
					</span>
					The creature runs as far as it can towards you, and tries to hide behind you.
				</td>
			</tr>
			<tr>
				<td class="rnr-boldtext panicked-table-data"> 5-6.</td>
				<td> 
					<span class="rnr-boldtext">
						Well Trained.
					</span>
					The creature remembers its training, and remains under your control.
				</td>
			</tr>
		</table>
	</div>
	<div class="rnr-ability-title">
		<span>
			Adventuring with a Companion
		</span>
	</div>
	<div class="rnr-subsection-content">
		<p class="rnr-body-paragraph">
			As you level up, you can train your companion to perform tasks for you. Once you have trained your companion,
			it is able to perform the task reliably, though a check may still have to be made for it to succeed. For such
			checks, add your expertise to the result. Whenever you wish for your companion to perform a task for which it
			has not been trained, you must make a Companion Creature Check set by your Grand Poohbah. Roll 1d20 and add
			your expertise. On success, your creature is able to carry out the task. On failure, 
			<span class="rnr-boldtext">
				Something Bad Happens.
			</span>
		</p>
	</div>
</div>



